extends ../layout

block header
    include ../sheader

block breadcrumb-navigation
    li: a(href="/") Главная 
    li.active Компании 

block main
    .container(ng-controller="Controller")
        if flash.errors
            zz-alert(errors='#{JSON.stringify(flash.errors)}')
        zz-error
        .row
            div(style="height:70px")
            .col-xs-offset-1.col-xs-10
                .panel.panel-default
                    .panel-body
                        legend: h2  Войти
                        .form-horizontal(role="form")
                            .form-group
                                label.col-xs-3.control-label(for="username") Логин
                                    b.text-danger * 
                                .col-xs-9
                                    input.form-control(type="text" name="username" placeholder="Введите логин" ng-model="form.username" maxlength='30')
                            .form-group
                                label.col-xs-3.control-label(for="password") Пароль
                                    b.text-danger * 
                                .col-xs-9
                                    input.form-control(type="password" name="password" placeholder="Введите пароль" ng-model="form.password" maxlength='30')
                            .form-group
                                .col-xs-offset-3.col-xs-5
                                    .row
                                        .col-xs-1
                                            button.btn.btn-default(ng-click="onSubmit()" ng-class="onEnabled()") Войти
                                        .col-xs-6.col-xs-offset-2
                                            a(href="/") Забыли пароль?
block footer
    include ../sfooter

block script
    script(type="text/javascript").
        (function(){
            var app = angular.module('zz', ['zz.dir.alert']);
            app.controller("Controller", function($scope, $http) {
                $scope.form  = {
                    username:   null
                    , password: null
                    , _csrf:    (function(c) {return c;})('#{_csrf}')
                };               
                $scope.onEnabled = function() {
                    var name = $scope.form.username
                        , pass = $scope.form.password;

                    if(zz.undef(name) || name.length > 20 || name.length < 3) return 'disabled'; 
                    if(zz.undef(pass) || pass.length > 20 || pass.length < 3) return 'disabled'; 
                    return '';
                }
                $scope.onSubmit = function() {
                    var data = zz.deep($scope.form)
                        , cx = 0;

                    $scope.errors = [];

                    if(zz.undef(data.username)) {
                        $scope.errors = ['Невозможно зарегистрировать пользователя. Имя пользователя неизвестно.'];
                        ++cx;
                    }
                    else if(data.username.length > 20) {
                        $scope.errors.push('Имя пользователя не может превышать длину в 20 символов');
                        ++cx;
                    }
                     else if(data.username.length < 3) {
                        $scope.errors.push('Имя пользователя не может быть меньше чем 3 символа');
                        ++cx;
                    }                
                    if(zz.undef(data.password)) {
                        $scope.errors.push('Введите пароль.');
                        ++cx;
                    }
                    else if(data.password.length > 20) {
                        $scope.errors.push('Пароль не может превышать длину в 20 символов');
                        ++cx;
                    }
                     else if(data.password.length < 3) {
                        $scope.errors.push('Пароль не может быть меньше чем 3 символа.');
                        ++cx;
                    }                
                    if(cx) return;

                    $http.post("/api/v1/auth/process", data)
                        .success(function(data) {
                            if(zz.undef(data) || !zz.undef(data.errors)) $scope.errors = data.errors;
                            else window.location.href = '/';
                        }).error(function(data){
                            $scope.errors = data.errors ? data.errors : JSON.stringify(data);
                        });
                }
            });
        })();  
