extends ../layout

block header
    include ../sheader

block breadcrumb-navigation
    li: a(href="/") Главная 
    li.active Регистрация

block main
    .container(ng-controller="Controller")
        if flash.errors
            zz-alert(errors='#{JSON.stringify(flash.errors)}')
        zz-error
        .row
            div(style="height:20px")
            .col-xs-offset-1.col-xs-10
                .panel.panel-default
                    .panel-body
                        legend: h2 Регистрация
                        .form-group
                            .col-xs-offset-3.col-xs-9
                              b.text-danger * 
                              span Требуемая информация
                        form.form-horizontal(role="form")
                            .form-group
                                label.col-xs-3.control-label(for="login") Логин
                                    b.text-danger *
                                .col-xs-9
                                    input.form-control(type="text" placeholder="Придумайте логин" ng-model="form.login" maxlength="20")
                            .form-group
                                label.col-xs-3.control-label(for="password") Пароль
                                    b.text-danger *
                                .col-xs-9
                                    input.form-control(type="password" placeholder="Придумайте пароль" ng-model="form.password")
                            .form-group
                                label.col-xs-3.control-label(for="confirm_password") Подтвердите пароль
                                    b.text-danger *
                                .col-xs-9
                                    input.form-control(type="password" placeholder="Повторите, чтобы не ошибиться" ng-model="form.confirm_password")
                            .form-group
                                label.col-xs-3.control-label(for="email") E-mail адрес
                                    b.text-danger *
                                .col-xs-9
                                    input.form-control(type="text" placeholder="Введите e-mail адрес" ng-model="form.email")
                            .form-group
                                label.col-xs-3.control-label Место проживания
                                    b.text-danger *
                                .col-xs-9
                                    .col-xs-12
                                        .form-group
                                            label.col-xs-2.control-label(for="district") Город 
                                            ol.nya-bs-select.col-xs-10(ng-model="form.district" disabled="district_disable" title="Выберите район города" ng-change="onSelectDistrict(form.district)" ng-cloak)
                                              li(nya-bs-option="d in districts")
                                                a {{d.title}}
                                                    span.glyphicon.glyphicon-ok.check-mark  
                                        .form-group
                                            label.col-xs-2.control-label(for="area") Район 
                                            ol.nya-bs-select.col-xs-10(ng-model="form.area" disabled="area_disable" title="Выберите Кузнецкий район" ng-change="onSelectArea(form.area)" ng-cloak)
                                              li(nya-bs-option="a in areas")
                                                a {{a.title}}
                                                    span.glyphicon.glyphicon-ok.check-mark  
                            .form-group
                                .col-xs-offset-3.col-xs-9
                                    .checkbox
                                        label
                                            input.checkbox(type="checkbox" ng-model="license" ng-true-value="" ng-false-value="collapse") 
                                            | Я прочитал и соглашаюсь с 
                                            a(href="/license.html") условиями использования
                            .form-group
                                .col-xs-offset-3.col-xs-9
                                    button.btn.btn-default(ng-click="onSubmit()" ng-class="license" ng-cloak) Зарегистрироваться
                                .col-xs-12
                                    h6.text-center: a(href="/privacypolicy.html") Пользовательское соглашение
block footer
    include ../sfooter

block script
    script(type="text/javascript").
        (function(){
            var app = angular.module('zz', ['zz.dir.alert', 'nya.bootstrap.select']);
            app.service('Service', function($rootScope) {
                this.getDistricts  = function() { 
                    return [ { title: " --- "}
                       , { title: 'Карпаты', value: "karpaty" }
                       , { title: "Южный микрорайон", value:"south" }
                       , { title: 'Западный микрорайон', value:"west" }
                       , { title: 'Залиния', value:"abroad" }
                       , { title: "Песчанка", value:"gerbil" }
                       , { title:  'Центр', value:"center" }
                       , { title: 'Обувная фабрика', value:"shoe_factory" }
                       , { title: 'Мары', value:"mary" }
                       , { title: 'Мешок', value:"bag" }
                       , { title: 'Мясокомбинат', value:"meat_processing_plant" }
                       , { title: 'Газораздатка', value:"gazorazdatka" }
                       , { title:  'Дуванный овраг', value:"duvanniy_ravine" }
                       , { title: 'СМУ', value:"smu" }
                       , { title: 'Мебельный комбинат', value:"furniture_works" }
                       , { title: 'Пивзавод', value:"brewery" }
                    ];
                }
                this.getAreas  = function() { 
                    return [ { title: " --- "}
                        , { title: 'Алексеевка', value: 'alexeevka'}
                        , { title: 'Анненково (Богородское, Воронцово, Гремячий Ключ)', value: 'annenkovo'}
                        , { title: 'Бабарыкино (Боборыкино)', value: 'babaryki' }
                        , { title: 'Бестянка (Бистан)', value: 'bestyanka' }
                        , { title: 'Благодатка', value: 'blagodatka' }
                        , { title: 'Большой Труёв (Большой Труев, Труевская Вершина, Большие Труёвские Вершины, Безводная, местное – Ялгаш)', value: 'large_truev' }
                        , { title: 'Боровая', value: 'borovaya' }
                        , { title: 'Верхозим (Фабрика «Мир Хижинам»)', value: 'verhozim' }
                        , { title: 'Верхозим (Рождественское)', value: 'verhozim' }
                        , { title: 'Дворики (Комаровский Выселок)', value: 'dvoriki' }
                        , { title: 'Евлашево (Архангельское, Труёво)', value: 'evlashevo' }
                        , { title: 'Елюзань', value: 'elyuzan' }
                        , { title: 'Журчалка', value: 'hoverflies' }
                        , { title: 'Злобинка', value: 'zlobinka' }
                        , { title: 'Казаковка (Козьмодемьянское)', value: 'kozakivka' }
                        , { title: 'Каменка (Кузнецовка)', value: 'heater' }
                        , { title: 'Козляковка', value: 'kozlyakovka' }
                        , { title: 'Комаровка (Предтеченское)', value: 'komarovka' }
                        , { title: 'Малый Труёв (Малый Труев, Малые Труевские Вершины, Дегтярка)', value: 'small_truev' }
                        , { title: 'Марьевка', value: 'marevka' }
                        , { title: 'Махалино (Новый Кряжим, Козьмодемьянское)', value: 'makhalino' }
                        , { title: 'Мир хижинам', value: 'world_hunts' }
                        , { title: 'Монастырское', value: 'monastic' }
                        , { title: 'Морозовка', value: 'morozovka' }
                        , { title: 'Нижнедубенск (Нижнедубенское, Нижне-Дубенское, Нижнее Дубенское, Архангельское)', value: 'nizhnedubensk' }
                        , { title: 'Нижнее Аблязово (Облязово, Христорождественское, Александровское)', value: 'lower_ablyazov' }
                        , { title: 'Никольское (Никольский Труёв)', value: 'nikolsky' }
                        , { title: 'Новостройка', value: 'new_development' }
                        , { title: 'Пионер (Красный Пахарь, Детская комиссия)', value: 'pioneer' }
                        , { title: 'Посёлки (Дмитриевское, Труёво, Поселки)', value: 'villages' }
                        , { title: 'Прогресс', value: 'progress' }
                        , { title: 'Радищево (Верхнее Аблязово, Верхне-Облязово, Облязово, Преображенское)', value: 'radishchevo' }
                        , { title: 'Ржавка (Кирсановка)', value: 'rzhavka' }
                        , { title: 'Русская Пенделка (Покровское)', value: 'russian_pendelka' }
                        , { title: 'Сосновка (Безобразовка, Богородское, Богородицкое, Казанское)', value: 'sosnovka' }
                        , { title: 'Старый Кряжим (Кряжим, Покровское, Нечаево)', value: 'old_ridge' }
                        , { title: 'Сурмино', value: 'surmin' }
                        , { title: 'Сухановка (Марьевка)', value: 'sukhanovka' }
                        , { title: 'Сюзюм (Рождественское)', value: 'syuzyum' }
                        , { title: 'Тарлаково Второе (Архангельское, Михайловское, Тарлаково, Торлаково)', value: 'tarlakovo_second' }
                        , { title: 'Тарлаково Первое (Воскресенское, Торлаково, Тарлаково)', value: 'tarlakovo_first' }
                        , { title: 'Татарская Пенделка (Абдрахмановка, Тат. Пенделка, Пенделка, Усть-Бикбулат, местное – Пэлдэнгэ)', value: 'tatar_pendelka' }
                        , { title: 'Татарский Канадей (Татарские Канадеи)', value: 'canadey_tatar' }
                        , { title: 'Тихменёво', value: 'tikhmenevo' }
                        , { title: 'Траханиотово (Васильевское)', value: 'trahaniotovo' }
                        , { title: 'Тютнярь (Дмитриевское, Шереметево)', value: 'tyutnyar'  }
                        , { title: 'Ульяновка (Дмитриевское)', value: 'ulyanovka'  }
                        , { title: 'Часы (Старый Часы)', value: 'clock'  }
                        , { title: 'Чибирлей (Никольское)', value: 'chibirley'  }
                        , { title: 'Шелемис (Шелемисс)', value: 'shelemis'  }
                        , { title: 'Шишовка', value: 'shishovka' }
                        , { title: 'Явлейка (Никольское)', value: 'yavleyka' }
                        , { title: 'Ясная Поляна', value: 'yasnaya_polyana' }
                    ];
                }
            });
            app.controller("Controller", function($scope, $http, Service) {
                $scope.districts        = Service.getDistricts();
                $scope.district_disable = false;
                $scope.areas            = Service.getAreas();
                $scope.area_disable     = false;
                $scope.form             = {
                    district: $scope.districts[1]
                    , area:   $scope.areas[1]
                };               
                $scope.license =  'collapse';

                $scope.onSelectDistrict = function(district) {
                    if(zz.undef(district)) return;
                    if(zz.undef(district.value)) {
                        $scope.form.district    = {title:'Выберите район города'};
                        $scope.district_disable = true;
                        $scope.area_disable     = false;
                    }
                    else {
                        $scope.area_disable     = true;
                        $scope.form.area        = {title: 'Выберите Кузнецкий район'};
                    }
                };
                $scope.onSelectArea = function(area) {
                    if(zz.undef(area)) return;
                    if(zz.undef(area.value)) {
                        $scope.form.area        = {title: 'Выберите Кузнецкий район'};
                        $scope.area_disable     = true;
                        $scope.district_disable = false;
                    }
                    else {
                        $scope.district_disable = true;
                        $scope.form.district    = {title:'Выберите район города'};
                    }
                };
                $scope.onSubmit = function() {
                    var data = zz.deep($scope.form)
                        , cx = 0;

                    data.area     = data.area.value;
                    data.district = data.district.value;
                    data._csrf = (function(c) { return c;})('#{_csrf}');

                    $scope.errors = [];

                    if(zz.undef(data.login)) {
                        $scope.errors = ['Невозможно зарегистрировать пользователя. Имя пользователя неизвестно.'];
                        ++cx;
                    }
                    else if(data.login.length > 20) {
                        $scope.errors.push('Имя пользователя не может превышать длину в 20 символов');
                        ++cx;
                    }
                     else if(data.login.length < 3) {
                        $scope.errors.push('Имя пользователя не может быть меньше чем 3 символа');
                        ++cx;
                    }                
                    if(zz.undef(data.password)) {
                        $scope.errors.push('Введите пароль.');
                        ++cx;
                    }
                    else if(data.password.length > 20) {
                        $scope.errors.push('Пароль не может превышать длину в 20 символов');
                        ++cx;
                    }
                     else if(data.password.length < 3) {
                        $scope.errors.push('Пароль не может быть меньше чем 3 символа.');
                        ++cx;
                    }                
                    if(zz.undef(data.confirm_password)) {
                        $scope.errors.push('Введите подтверждение пароля.');
                        ++cx;
                    }
                    else if(data.confirm_password !== data.password) {
                        $scope.errors.push('Подтверждение парол не совпадает с самим паролем.');
                        ++cx;
                    }
                    if(zz.undef(data.email)) {
                        $scope.errors.push('Введите e-mail адрес.');
                        ++cx;
                    }
                    if(zz.undef(data.area) && zz.undef(data.district)) {
                        $scope.errors.push('Необходимо выбрать район города Кузнецка или Кузнецкого района.');
                        ++cx;
                    }
                    else if(!zz.undef(data.area) && !zz.undef(data.district)) {
                        $scope.errors.push('Необходимо выбрать либо район города Кузнецка либо Кузнецкого района, но не оба сразу.');
                        ++cx;
                    }
                    if(cx) return;

                    $http.post("/api/v1/auth/create", data)
                        .success(function(data) {
                            if(zz.undef(data) || !zz.undef(data.errors)) $scope.errors = data.errors;
                            else window.location.href = '/';
                        }).error(function(data){
                            $scope.errors = data.errors ? data.errors : JSON.stringify(data);
                        });
                }
                $scope.onSelectDistrict($scope.form.district);
            });
        })();  
