// 
// \file      company/admin/company/add.jade 
// \brief     Admin Company add
// \author    S.Panin <dix75@mail.ru>
// \copyright S.Panin, 2014 - 2015 
// \version   v.1.1
// \created   January (the) 21(th), 2015, 23:59 MSK
// \updated   January (the) 21(th), 2015, 23:59 MSK
// \TODO      
// 

extends ../../../layout

block style
    style(type="text/css").
        .popover {
            max-width:600px;
        }
        .zz-td {
            max-width:  186px;
            min-width:  186px;
            text-align: left;
        }
        .zz-abyss {
            max-width:  6px;
            min-width:  6px;
        }
        .zz-x {
            font-size:  small;
        }
        .zz-time {
            max-width: 78px;
        } 
        .zz-day-off {
            width: 158px;
        }

block header
    include ../../../header

block breadcrumb-navigation
    li: a(href="/") Главная 
    li: a(href='/admin/company/index.html') Компании
    li.active Добавление компании

block main
        .container.well(ng-controller="TableController")
            zz-error
            .row
                .col-xs-12
                    .panel.panel-default
                        .panel-body 
                            legend: h2 Добавление компании
                            .form-group
                                .col-xs-offset-3.col-xs-9
                                  b.text-danger * 
                                  span Требуемая информация
                            form.form-horizontal
                                .form-group
                                    label.col-xs-3.control-label(for="title") Название компании
                                        b.text-danger * 
                                    .col-xs-9
                                        input.form-control(type="text", name="title", placeholder="Введите название компании", ng-model="form.title" maxlength="64")
                                        i.help-block например: Кузполимермаш
                                .form-group
                                    label.col-xs-3.control-label(for="utitle") Юридическое название
                                        b.text-danger * 
                                    .col-xs-9
                                        input.form-control(type="text", name="utitle", placeholder="Введите юридическое название компании", ng-model="form.utitle" maxlength="64")
                                        i.help-block например: ОАО Кузполимермаш
                                .form-group
                                    label.col-xs-3.control-label(for="address") Адрес
                                        b.text-danger * 
                                    .col-xs-9
                                        input.form-control(type="text", name="address", placeholder="Введите адрес", ng-model="form.address" maxlength="64")
                                        i.help-block например: 44250 Россия, г. Кузнецк, ул. Правды 1 - 44
                                .form-group
                                    label.col-xs-3.control-label(for="activity") Вид деятельности
                                        b.text-danger * 
                                    .col-xs-9
                                        input.form-control#zz-rubricator-typeahead(type='text', data-provide='typeahead', disabled=false, placeholder="Введите название рубрики" ng-disabled='form.rubrics.length > 2')
                                        .text-center: a#zz-rubricator.zz-cursor-pointer.zz-popover(data-title="Рубрикатор видов деятельности" ng-show="form.rubrics.length < 3") Выбрать из рубрикатора
                                        ul
                                        ul#zz-rubricator-content
                                            li.zz-x.text-muted(ng-repeat='r in form.rubrics' idx='r.index') {{r.title}}  
                                                span.fa.fa-times.text-danger.zz-cursor-pointer(ng-click='removeRubric(r.path)')
                                .form-group
                                    label.col-xs-3.control-label(for="mode") Режим работы
                                        b.text-danger * 
                                    .col-xs-3.pull-right
                                        h4.text-center Примеры:
                                        hr
                                        ul 
                                        .col-xs-12(ng-repeat="m in mode_examples")
                                            li: a.zz-cursor-pointer(ng-click='setMode(m.data)') {{m.name}}
                                    .col-xs-6.pull-left
                                        .col-xs-12(ng-repeat="m in form.mode")
                                            .form-inline
                                               .form-group
                                                    .checkbox
                                                        input(type='checkbox' ng-model="m.work.is")
                                                    .checkbox.zz-padding-right-12(ng-if='m.work.is')  {{m.name}}
                                                    .checkbox.zz-padding-right-12.text-danger(ng-if='!m.work.is')  {{m.name}}
                                                    span.checkbox.text-danger.text-center.zz-day-off(ng-if='!m.work.is') Выходной
                                                    span.zz-day-on(ng-if='m.work.is')
                                                        |   
                                                        input.zz-time.form-control(type='text' placeholder="Начало" ng-model="m.work.start")
                                                        |   
                                                        input.zz-time.form-control(type='text' placeholder="Конец" ng-model='m.work.end')
                                                        .checkbox.zz-padding-left-12
                                                            input(type='checkbox' ng-model="m.lanch.is")
                                                        .checkbox.zz-padding-right-12  Обед:   
                                                        span.zz-day-on(ng-if='m.lanch.is')
                                                            input.zz-time.form-control(type='text' placeholder="Начало" ng-model="m.lanch.start")
                                                            |   
                                                            input.zz-time.form-control(type='text' placeholder="Конец" ng-model='m.lanch.end')
                                .form-group
                                    label.col-xs-3.control-label(for="home_page") Домашняя страница
                                    .col-xs-9
                                        input.form-control(type="text", name="home_page", placeholder="Введите адрес домашней страницы", ng-model="form.home_page" maxlength="64")
                                        i.help-block например: http://www.kuz-club.ru
                                .form-group
                                    label.col-xs-3.control-label(for="email") Электронная почта
                                    .col-xs-9
                                        div.input-group
                                            input.form-control(type="text" name="email" placeholder="Введите адрес электронной почты" ng-model="email" maxlength="24")
                                            span.input-group-btn
                                                a.btn.btn-default(ng-class="isEmailDisabled(email)" ng-click='addEmail(email)' title="Добавить")
                                                    i.fa.fa-plus
                                        div(ng-repeat='e in form.emails' ng-cloak)
                                            div.input-group
                                                input.form-control(type="text" ng-model="e.title" disabled)
                                                span.input-group-btn
                                                    a.btn.btn-default(ng-click='removeEmail(e.title)')
                                                        i.fa.fa-minus(title="Удалить")
                                        i.help-block например: support@kuz-club.ru
                                .form-group
                                    label.col-xs-3.control-label(for="images") Картинки, Фотографии
                                    .col-xs-9
                                        .fileinput.fileinput-new.input-group(data-provides="fileinput")
                                            #file-error.form-control(data-trigger="fileinput")
                                                i.glyphicon.glyphicon-file.fileinput-exists
                                                span.fileinput-filename
                                            span.input-group-addon.btn.btn-default.btn-file
                                                span.fileinput-new Выберите файл...
                                                span.fileinput-exists Изменить
                                                input(type="file" name="avatar" file-model="file" ng-model='file')
                                            a.input-group-addon.btn.btn-default.fileinput-exists(href="#" data-dismiss="fileinput") Удалить
                                            a.input-group-addon.btn.btn-default.fileinput-exists(ng-click="uploadImage()" data-dismiss="fileinput") Загрузить
                                    .col-xs-9.col-xs-offset-3
                                        table.well.table.table-striped.table-hover(ng-if="form.images.length > 0" ng-cloak)
                                            tbody
                                                tr(ng-repeat="i in form.images" ng-cloak)
                                                    td.zz-text-vmiddle(width="60" height="60")
                                                        a(ng-href="/uploads/{{i.path}}" data-lightbox="images" data-title="{{i.title}}")
                                                            img.img-thumbnail(ng-src="/uploads/{{i.path}}" width='48' height="48" data-lightbox="images" ng-cloak)
                                                    td.zz-text-vmiddle.text-left(ng-cloak) {{i.title}}
                                                    td.zz-text-vmiddle.text-right
                                                        .btn-group.btn-group-xs
                                                            button.btn.btn-danger.glyphicon.glyphicon-remove(type="button" ng-click='removeImage(i.title)' title="Удалить")
                                .form-group
                                    label.col-xs-3.control-label(for="www") Ссылки на страницы в соцсетях 
                                    .col-xs-9
                                        div.input-group
                                            input.form-control(type="text" name="www" placeholder="Введите адрес ссылки на страницу в соцсетях" ng-model="www" maxlength="64")
                                            span.input-group-btn
                                                a.btn.btn-default(ng-class="isWWWDisabled(www)" ng-click='addWWW(www)' title="Добавить")
                                                    i.fa.fa-plus
                                        div(ng-repeat='w in form.wwws' ng-cloak)
                                            div.input-group
                                                input.form-control(type="text" ng-model="w.title" disabled)
                                                span.input-group-btn
                                                    a.btn.btn-default(ng-click='removeWWW(w.title)')
                                                        i.fa.fa-minus(title="Удалить")
                                        i.help-block например: twitter.com/kuz-club-best
                                .form-group
                                    label.col-xs-3.control-label(for="phone") Телефон
                                    .col-xs-9
                                        div.input-group
                                            input.form-control(type="text" name="phone" placeholder="Введите номер телефона" ng-model="phone" maxlength="24")
                                            span.input-group-btn
                                                a.btn.btn-default(ng-class="isPhoneDisabled(phone)" ng-click='addPhone(phone)' title="Добавить")
                                                    i.fa.fa-plus
                                        div(ng-repeat='p in form.phones' ng-cloak)
                                            div.input-group
                                                input.form-control(type="text" ng-model="p.title" disabled)
                                                span.input-group-btn
                                                    a.btn.btn-default(ng-click='removePhone(p.title)')
                                                        i.fa.fa-minus( title="Удалить")
                                        i.help-block например: +7 (925) 889-33-83 или +7 (84157) 2-50-30
                                .form-group
                                    label.col-xs-3.control-label(for="idescription") Важное описание
                                        b.text-danger * 
                                    .col-xs-9
                                        textarea.form-control(type="text" name="idescription" placeholder="Ведите важное описание не более 1000 символов", ng-model="form.idescription" maxlength="1024")
                                        i.help-block например: Компания торгует только с физ. лицами по оптовым ценам
                                .form-group
                                    label.col-xs-3.control-label(for="description") Описание
                                    .col-xs-9
                                        textarea.form-control(type="text" name="description" placeholder="Ведите описание не более 2000 символов", ng-model="form.description" maxlength="2048")
            span.pull-right
                button.btn.btn-default(ng-click='add()') Добавить
                |  
                button.btn.btn-warning(ng-click='cancel()') Отменить

block footer
    include ../../../sfooter

block script
    script(type="text/javascript").
        (function(){
             var zzRubricator = (function() {
                 function getIndex(index){
                    var result = [0]
                        , val = null;
                    if(zz.undef(index) || zz.undef(index.length) || index.length < 2) return result;

                    val = parseInt(index.substr(0,2), 10);
                    if(zz.undef(val) || isNaN(val)) return result;
                    result.push(val);

                    if(index.length > 3) {
                        val = parseInt(index.substr(2,2), 10);
                        if(!zz.undef(val) || !isNaN(val)) result.push(val);
                    }
                    if(index.length > 5){
                        val = parseInt(index.substr(4,2), 10);
                        if(!zz.undef(val) && !isNaN(val)) result.push(val);
                    } 
                    return result;

                }   
                function getData(id) {
                    var result = {}
                         , index = getIndex(id);
                    if(zz.undef(index) || index.length < 2) return rub_data;

                    result = rub_data.items[index[1]];
                    if(index.length > 2 && result.items) result = result.items[index[2]];
                    if(index.length > 3 && result.items) result = result.items[index[3]];
                    return result;
                  }
                function createNav(id) {
                    var index = getIndex(id)
                        , beg = '<ol class="zz-x ol breadcrumb navbar-default">'
                        , end = '</ol>'
                        , result = null;

                    if(zz.undef(index) || index.length < 2) return beg + "<li class='active'>Главная</li>" + end;

                    beg += "<li><a class='zz-cursor-pointer' onclick='onUpdateRubrics(null)'>Главная</a></li>";
                    result = rub_data.items[index[1]];

                    if(index.length === 2) return beg + "<li class='active'>" +  result.title + "</li>" + end;
                    else beg += "<li><a class='zz-cursor-pointer' onclick='onUpdateRubrics(\"" + id.substr(0,2) + "\")'>" +  result.title + "</a></li>";

                    if(index.length === 3) return beg + "<li class='active'>" + result.items[index[2]].title + "</a></li>" + end;
                    else beg += "<li><a class='zz-cursor-pointer' onclick='onUpdateRubrics(\"" + id.substr(0,4) + "\")'>" +  result.items[index[2]].title + "</a></li>";

                    if(index.length === 4) return beg + "<li class='active'>" + result.items[index[3]].title + "</a></li>" + end;
                }
                function createId(old, nw) {
                    nw =  nw < 10 ? "0" + nw : "" + nw; 
                    return zz.undef(old)? nw: old + nw;
                }
                function create(index)  {
                    var data = getData(index);
                    if(zz.undef(data) || !data.items) return;

                    var h = createNav(index) + "<table class=''><tbody><tr>"
                        , x = 0;

                    for(var i in data.items) {
                        var item = data.items[i];
                        ++x;
                        if(x === 4) {
                            h +="</tr><tr>"; x = 1
                        }
                        if(zz.undef(item.items)) h += "<td class='zz-td zz-x'> <a class='zz-cursor-pointer' onclick='onAddRubric(\"" +  createId(index, item.index) +  "\")'>" + item.title + "</a></td>";
                        else h += "<td class='zz-td zz-x'> <a class='zz-cursor-pointer' onclick='onUpdateRubrics(\"" +  createId(index, item.index) +  "\")'>" + item.title + "</a></td>";
                        h += "<td class='zz-abyss'></td>";
                    }
                    return h + "</tr></tbody></table>";
                }
                function addRubric(path, title) {
                    $('#zz-rubricator').popover('hide');
                    $("body").scope().$root.$broadcast('sendAddRubric', {title: title, index: path.substr(path.length -2, 2), path: path});
                }
                function findIdByTitle(title) {
                    function find(items, title, index) {
                        var i, x;
                        index = index || '';
                        for (i in items){
                            if(items[i].items) {
                                x = createId(index, items[i].index);
                                x = find(items[i].items,title,x);
                                if(x) return x;
                            }
                            else if(items[i].title === title) return createId(index, items[i].index);
                        }
                    }
                    return find(rub_data.items, title);
                }
                 return {
                    getData:        getData
                    , create:       create
                    , addRubric:    addRubric
                    , findIdByTitle: findIdByTitle
                 }
             })();
        
            window.rub_data = null;
            window.onAddRubric = function(path) {
                zzRubricator.addRubric(path, zzRubricator.getData(path).title);
            }
            window.onUpdateRubrics = function(index) {
                var is = index !== undefined;
                $("#zz-rubricator").attr({"data-content": zzRubricator.create(index)});
                if(is) $('#zz-rubricator').popover('show');
            }

           $("#zz-rubricator").popover({
                placement:   'top'
                , html:      true
                , animation: true
            }); 

            var app = angular.module('zz', ['zz.dir.alert']);
            app.directive('fileModel', ['$parse', function ($parse) {
                return {
                    restrict: 'A',
                    link: function(scope, element, attrs) {
                        var model = $parse(attrs.fileModel)
                            , modelSetter = model.assign;   
                        element.bind('change', function(){
                            scope.$apply(function(){
                                modelSetter(scope, element[0].files[0]);
                            });
                        });
                    }
                };
            }]);
            app.service('ModeService', function($rootScope, $http) {
                var def = [
                    { name: 'Пн',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                    , { name: 'Вт',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                    , { name: 'Ср',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                    , { name: 'Чт',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                    , { name: 'Пт',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                    , { name: 'Сб',  work: {is: false, start: '08:00', end: '16:00'}, lanch: {is: false, start: '13:00', end:'14:00'}}
                    , { name: 'Вс',  work: {is: false, start: '08:00', end: '16:00'}, lanch: {is: false, start: '13:00', end:'14:00'}}
                ]
                , examples = [
                    {
                       name: "Стандартный"
                     , data: [
                         { name: 'Пн',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                        , { name: 'Вт',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                        , { name: 'Ср',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                        , { name: 'Чт',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                        , { name: 'Пт',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                        , { name: 'Сб',  work: {is: false, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                        , { name: 'Вс',  work: {is: false, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                      ]
                   }
                    , {
                       name: "Ежедневный"
                     , data: [
                        { name: 'Пн',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                        , { name: 'Вт',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                        , { name: 'Ср',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                        , { name: 'Чт',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                        , { name: 'Пт',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                        , { name: 'Сб',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                        , { name: 'Вс',  work: {is: true, start: '08:00', end: '16:00'}, lanch: {is: true, start: '13:00', end:'14:00'}}
                    ] }
                ];

                this.init = function() {
                    $rootScope.$broadcast('sendMode', {mode:def, examples: examples}); 
                }
            });
            app.service('ImageService', function($rootScope, $http) {
                this.upload = function(file) {
                    if(zz.undef(file)) return;

                    var fd = new FormData();
                    fd.append('avatar', file);
                    fd.append('_csrf', (function(c) { return c;})('#{_csrf}'));

                    $http.post("/api/v1/company/upload_image", fd, {
                        transformRequest: angular.identity,
                        headers: {'Content-Type': undefined}
                    }).success(function(data){
                        $rootScope.$broadcast('sendImage', data);
                    }).error(function(data){
                        $rootScope.$broadcast('sendErrors', !zz.undef(data.errors) ? data.errors: [data]); 
                    });
                }
            }); 
            app.controller("TableController", function($scope, $http, $compile, ModeService, ImageService) {
                $scope.email         = null;
                $scope.www           = null;
                $scope.phone         = null;
                $scope.form          = {};
                $scope.form.images   = [];
                $scope.form.phones   = [];
                $scope.form.wwws     = [];
                $scope.form.emails   = [];
                $scope.form.rubrics  = [];
                $scope.form.mode     = {};
                $scope.mode_examples = [];

                $scope.$on("sendImage", function(event, args) {
                    args.title = args.filename;
                    args.path  = args.fd;
                    $scope.form.images.push(args);
                });
                $scope.$on("sendMode", function(event, args) {
                    $scope.form.mode = args.mode;
                    $scope.mode_examples = args.examples;
                });
                $scope.$on("sendErrors", function(event, args) {
                    $scope.errors = args;
                });
                $scope.$on("sendAddRubric", function(event, args) {
                    if($scope.isRubricExists(args)) {
                        $scope.errors = ['Рубрика "' + args.title + '" уже существует!'];
                    } else {
                        $scope.errors = [];
                        $scope.form.rubrics.push(args);
                    }
                    $scope.$apply();
                });
                $scope.isEmailDisabled = function(email) {
                    if(zz.undef(email) || email.search(/.+@.+\..+/) === -1) return 'disabled';

                    for(var i in $scope.form.emails) 
                        if($scope.form.emails[i].title === email) return 'disabled';

                    return null;
                }
                $scope.addEmail = function(email) {
                    $scope.form.emails.push({title: email});
                    $scope.email = null;
                }
                $scope.removeEmail = function(email) {
                    $.each($($scope.form.emails), function(key, value) {
                        if(value.title === email) $scope.form.emails.splice(key, 1);
                    });
                };
                $scope.isPhoneDisabled = function(phone) {
                    if(zz.undef(phone) || phone.length < 8 || phone.search(/[^\d\(\\)+\- ]+/g) !== -1 ) return 'disabled';

                    for(var i in $scope.form.phones) 
                        if($scope.form.phones[i].title === phone) return 'disabled';

                    return null;
                }
                $scope.addPhone = function(phone) {
                    $scope.form.phones.push({title: phone});
                    $scope.phone = null;
                }
                $scope.removePhone = function(phone){
                    $.each($($scope.form.phones), function(key, value) {
                        if(value.title === phone) $scope.form.phones.splice(key, 1);
                    });
                }
                $scope.isWWWDisabled  = function(www) {
                    if(zz.undef(www) || www.length < 8) return 'disabled';

                    for(var i in $scope.form.phones) 
                        if($scope.form.phones[i].title === www) return 'disabled';

                    return null;
                }
                $scope.addWWW = function(www) {
                    $scope.form.wwws.push({title: www});
                    $scope.www = null;
                }
                $scope.removeWWW = function(www){
                    $.each($($scope.form.wwws), function(key, value) {
                        if(value.title === www) $scope.form.wwws.splice(key, 1);
                    });
                }
                $scope.removeImage = function(image){
                    $.each($($scope.form.images), function(key, value) {
                        if(value.title === image) $scope.form.images.splice(key, 1);
                    });
                }
                $scope.uploadImage = function() {
                    ImageService.upload($scope.file);
                }
                $scope.removeEmail = function(email) {
                    $.each($($scope.form.emails), function(key, value) {
                        if(value.title === email) $scope.form.emails.splice(key, 1);
                    });
                };
                $scope.isRubricExists = function(args) {
                    var path = args.path;
                    if(zz.undef(path)) return true;

                    for(var i in $scope.form.rubrics) 
                        if($scope.form.rubrics[i].path === path) return true;
                    return false;
                }
                $scope.removeRubric = function(path) {
                    $.each($($scope.form.rubrics), function(key, value) {
                        if(value.path === path) $scope.form.rubrics.splice(key, 1);
                    });
                };
                $scope.setMode = function(data){
                    $scope.form.mode = data;
                }

                !(function() {
                    $http.get("/api/v1/rubricator/activity?a=all")
                        .success(function(data) {
                            window.rub_data = data;
                            onUpdateRubrics();

                            function rec(id) {
                                var arr = [], i, title, items;
                                for (i in id){
                                    title = id[i].title;
                                    items = id[i].items;

                                    if(!zz.undef(items)) arr =  arr.concat(rec(items));
                                    else if(!zz.undef(title)) arr.push(title);
                                }
                                return arr;
                            }
                            $('#zz-rubricator-typeahead').typeahead({
                                source: rec(data.items)
                                , updater: function(title){
                                    var zz = zzRubricator;
                                    zz.addRubric(zz.findIdByTitle(title), title);
                                }
                            });
                        }).error(function(data){});
                })();
                $scope.checkArrays = function(arr, max, e) {
                    if(zz.undef(arr) || zz.undef(max)) return false;
                    for(var i =0; i !== arr.length; ++i){
                        if(arr[i].length > max) {
                            $scope.errors.push(e);
                            return false;
                        } 
                    }
                    return true;
                }
                $scope.cancel = function() {
                    window.location.href = '/admin/company/index.html';
                }
                $scope.add = function() {
                    var data = $scope.form
                        , cx = 0;

                    $scope.errors = [];

                    if(zz.undef(data.title)) {
                        $scope.errors.push('Введите название компании');
                        ++cx;
                    }
                    else if(data.title.length > 64) {
                        $scope.errors.push('Название компании не может превышать длину в 64 символа');
                        ++cx;
                    }
                    if(!zz.undef(data.utitle) && data.utitle.length > 64) {
                        $scope.errors.push('Юридическое название компании не может превышать длину в 64 символа');
                        ++cx;
                    }
                    if(zz.undef(data.address)) {
                        $scope.errors.push('Введите адрес компании');
                        ++cx;
                    }
                    else if(data.address.length > 64) {
                        $scope.errors.push('Адрес компании не может превышать длину в 64 символа');
                        ++cx;
                    }
                    if(!zz.undef(data.home_page) && data.home_page.length > 64) {
                        $scope.errors.push('Адрес домашней страницы компании не может превышать длину в 64 символа');
                        ++cx;
                    }

                    if(zz.undef(data.rubrics) || data.rubrics.length < 1) {
                        $scope.errors.push('Необходимо добавить рубрику');
                        ++cx;
                    }

                    if(!$scope.checkArrays(data.emails, 24, 'Один из адресов электронной почты введен неверно')) ++cx;
                    if(!$scope.checkArrays(data.phones, 24, 'Один из номеров телефона введен неверно')) ++cx;
                    if(!$scope.checkArrays(data.wwws, 64, 'Один из URL сети введен неверно')) ++cx;

                    if(cx) return;

                    data._csrf = (function(c) { return c;})('#{_csrf}')

                    $http.post("/api/v1/company/create", data)
                        .success(function(data) {
                            window.location.href = '/admin/company/index.html';
                        }).error(function(data){
                            if(data.errors) $scope.errors = data.errors;
                        });
                 }
                ModeService.init(); 
            });
         })();  
