// 
// \file      company/admin/company/index.jade 
// \brief     Admin Company index
// \author    S.Panin <dix75@mail.ru>
// \copyright S.Panin, 2014 - 2015 
// \version   v.1.1
// \created   January (the) 21(th), 2015, 23:58 MSK
// \updated   January (the) 21(th), 2015, 23:58 MSK
// \TODO      
// 
extends ../../../layout

block header
    include ../../../header

block modal
    modals(ng-controller="ModalController")
        .modal.fade#modal-remove
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type="button" data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close
                        h4.modal-title Удаление компании
                    .modal-body
                        p Вы действительно хотите удалить компанию "{{form.title}}"?
                    .modal-footer
                        button.btn.btn-default(type="button" ng-click="form.executeFunction(form)" data-dismiss="modal") Да
                        button.btn.btn-primary(type="button" data-dismiss="modal") Нет

block breadcrumb-navigation
    li: a(href="/") Главная 
    li.active Компании

block main
    .container.well(ng-controller="TableController")
        zz-error
        .row
            .col-xs-12
                .panel.panel-default
                    .panel-body
                        legend: h2 Компании
                        table.well.table.table-striped.table-hover
                            thead
                                tr
                                    th №
                                    th Название
                                    th Адрес
                                    th Описание
                                    th(width='70') Действия
                            tbody
                                tr(ng-repeat="c in companies")
                                    td.zz-text-vmiddle(id="{{c.id}}" ng-cloak) {{ $index + 1}}
                                    td.zz-text-vmiddle(zz-text-collapse="20" ng-cloak) {{c.title}}
                                    td.zz-text-vmiddle(zz-text-collapse="30" ng-cloak) {{c.address}}
                                    td.zz-text-vmiddle(zz-text-collapse="70" ng-cloak) {{c.description}}
                                    td.zz-text-vmiddle.text-right 
                                        .btn-group.btn-group-xs
                                            button.btn.btn-warning.glyphicon.glyphicon-edit(type="button" ng-click="beforeEditCompany(c)" title="Изменить")
                                            button.btn.btn-danger.glyphicon.glyphicon-remove(type="button" data-toggle="modal" data-target="#modal-remove" ng-click="beforeDestroyCompany(c)" title="Удалить")
                        span.pull-right
                            button.btn.btn-default(type="button" ng-click="beforeAddCompany()") Добавить
        .row
            nav.text-center
                ul.pagination
                    li(ng-repeat="pg in pages" class="{{pg.cls}}")
                        a(idx="{{pg.id}}" ng-click="onPageClick(pg)" ng-cloak) {{pg.vs}}

block footer
    include ../../../sfooter

block script
    script(type="text/javascript").
        (function(){
            var app = angular.module('zz', ['zz.dir.alert', 'zz.dir.text']);
            app.service('Service', function($rootScope, $http) {
                var lm_ = 50;

                function fetchAll(pg) {
                    pg = pg || 1;
                    $http.get("/api/v1/company/index?pg=" + pg + "&lm=" + lm_)
                        .success(function(data) {
                            $rootScope.$broadcast('sendErrors', null); 
                            $rootScope.$broadcast('sendCompany', data); 
                        }).error(function(data){
                            if(data.errors) $rootScope.$broadcast('sendErrors', data.errors); 
                        });
                }
                this.fetchProducts = function(pg) {
                    fetchAll(pg);
                }
                this.addFormData = function(args) {
                    $rootScope.$broadcast('sendForm', args);
                }
                this.update = function(data) {
                    $http.put("/api/v1/company/update", data)
                        .success(function(d) {
                            fetchAll();
                        }).error(function(data){
                            if(data.errors) $rootScope.$broadcast('sendErrors', data.errors); 
                        });
                }
                this.destroy = function(data) {
                    if(zz.undef(data.id)) return;
                    data._csrf = (function(c) { return c;})('#{_csrf}');

                    $http.post("/api/v1/company/destroy", {id:data.id, _csrf: data._csrf})
                        .success(function(d) {
                            fetchAll();
                        }).error(function(data){
                            if(data.errors) $rootScope.$broadcast('sendErrors', data.errors); 
                        });
                }
                fetchAll();
            });
            app.controller("ModalController", function($scope, $http, Service) {
                $scope.form = {};

                $scope.$on("sendForm", function(event, args) {
                    $scope.form = args;
                });
            });
            app.controller("TableController", function($scope, $http, Service) {
                $scope.companies = [];
                $scope.pages = [];

                $scope.$on("sendCompany", function(event, args) {
                    if(zz.undef(args) || zz.undef(args.companies) || zz.undef(args.pg)) return;
                    $scope.companies = args.companies;

                    var png = new zz.Pagination();
                    $scope.pages  = png.create(args.pg);
                });
                $scope.$on("sendErrors", function(event, args) {
                    $scope.errors = args;
                });
                $scope.onPageClick = function(pg) {
                    if(zz.undef(pg) || zz.undef(pg.pg)) return;
                    Service.fetchProducts(pg.pg);
                }
                $scope.beforeDestroyCompany = function(company) {
                    company["executeFunction"] = Service.destroy;
                    Service.addFormData(company);
                };
                $scope.beforeAddCompany = function() {
                    window.location.href = '/admin/company/add.html';
                };
                $scope.beforeEditCompany = function(company) {
                    window.location.href = '/admin/company/edit.html?id=' + company.id;
                };
            });
         })();  
