doctype html
html
    head
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        // STYLES
        link(rel="stylesheet", href="/styles/bootstrap-select.css")
        link(rel="stylesheet", href="/styles/bootstrap.css")
        link(rel="stylesheet", href="/styles/font-awesome.css")
        link(rel="stylesheet", href="/styles/importer.css")
        link(rel="stylesheet", href="/styles/jasny-bootstrap.css")
        link(rel="stylesheet", href="/styles/lightbox.css")
        link(rel="stylesheet", href="/styles/nya-bootstrap-select.css")
        link(rel="stylesheet", href="/styles/zz.css")
        // STYLES END
        // SCRIPTS
        script(src="/linker/js/jquery.js")
        script(src="/linker/js/angular.js")
        script(src="/linker/js/bootstrap.js")
        script(src="/linker/js/jquery.validate.min.js")
        script(src="/linker/js/jquery.validate.messages_ru.js")
        script(src="/linker/js/bootstrap-select.js")
        script(src="/linker/js/bootstrap-typeahead.js")
        script(src="/linker/js/bootstrap-select-messages.js")
        script(src="/linker/js/nya-bootstrap-select.js")
        script(src="/linker/js/jasny-bootstrap.js")
        script(src="/linker/js/lightbox.js")
        script(src="/linker/js/jfunctions.js")
        // SCRIPTS END
        block head
        block style
    body
        block body
            block header
            block main
            block footer
        block script
