header.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container
         .navbar-header
             img.navbar-btn(src='/images/logo_32.png')
             button.navbar-toggle(type="button" data-toggle="collapse" data-target="#header-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") Kuz Club+
            .collapse.navbar-collapse#header-collapse
                ul.nav.navbar-nav.navbar-right
                    if session.user
                        if session.user.type === 'user'
                            li
                                a(href='/')
                            li
                                .dropdown
                                    button.btn.btn-success.navbar-btn.btn-sm(type="button", data-toggle="dropdown") Добрый день, #{session.user.login} 
                                        span.caret 
                                    ul.dropdown-menu(role="menu", aria-labelledby="user")
                                        li(role="presentation"): a(role="menu-item" tabindex="-1" href="/auth/logout") Выход
                        if session.user.type === 'moderator' || session.user.type === 'admin' || session.user.type === 'root'
                            li
                                a(href='/')
                            li
                                .dropdown
                                    button.btn.btn-success.navbar-btn.btn-sm(type="button", data-toggle="dropdown") Добрый день, #{session.user.login} 
                                        span.caret 
                                    ul.dropdown-menu(role="menu", aria-labelledby="user")
                                        li(role="presentation"): a(role="menu-item" tabindex="-1" href="/admin/company/index.html") Компании
                                        li(role="presentation"): a(role="menu-item" tabindex="-1" href="/admin/product/index.html") Продукты
                                        //li(role="presentation"): a(role="menu-item" tabindex="-1" href="/admin/company_comment/index.html") Комментарии о компаниях
                                        //li(role="presentation"): a(role="menu-item" tabindex="-1" href="/admin/product_comment/index.html") Комментарии о продуктах
                                        li.divider(role="presentation")
                                        li(role="presentation"): a(role="menu-item" tabindex="-1" href="/auth/logout") Выход
                    else
                        li: a(href="/auth/login.html") Войти
                        li: a(href="/auth/registration.html") Зарегистрироваться
