footer.navbar.navbar-inverse.navbar-fixed-bottom(role="navigation")
    .container
         .navbar-header
             img.navbar-btn(src='/images/logo_32.png')
             button.navbar-toggle(type="button" data-toggle="collapse" data-target="#footer-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") Kuz Club+
            .collapse.navbar-collapse#footer-collapse
                ul.nav.navbar-nav.navbar-right
                    if session.user
                        li
                            a(href='/')
                        li
                    else
                        li: a(href="/auth/login.html") Войти
                        li: a(href="/auth/registration.html") Зарегистрироваться
            .text-center.text-muted Copyright © 2014 - 2015 Kuz Club+. All rights reserved.
            p
