header.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container
         .navbar-header
             img.navbar-btn(src='/images/logo_32.png')
             button.navbar-toggle(type="button" data-toggle="collapse" data-target="#header-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") Kuz Club+
