// 
// \file      product/index.jade 
// \brief     Product index
// \author    S.Panin <dix75@mail.ru>
// \copyright S.Panin, 2014 - 2015 
// \version   v.1.3
// \created   December (the) 31(th), 2014, 16:51 MSK
// \updated   February (the) 09(th), 2015, 19:45 MSK
// \TODO      
// 

extends ../layout

block style
    style(type="text/css").
        .zz-text-dashed {
            text-decoration: none; 
            border-bottom: 1px dashed;
        }
        .zz-parent {
            position: relative;
            min-height: 212px;
        }
        .zz-child {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        .zz-product :hover {
           background-color: #DDD;  
        }
block header
    include ../header

block breadcrumb-navigation
    li: a(href="/") Главная 
    li: a(href="/company/index.html") Компании 

block main
    .container.well(ng-controller="TableController")
        if flash.errors
            zz-alert(errors='#{JSON.stringify(flash.errors)}')
        zz-error
        .row
            .col-xs-12
                .panel.panel-default
                    .panel-body 
                        .media
                            div.pull-left
                                img.media-object.img-thumbnail(ng-if="company.images.length > 0" ng-src="/uploads/{{company.images[0].path}}" alt="{{company.title}}" width="240" ng-cloak)
                                span.pull-left(ng-repeat="i in company.images" ng-if="company.images.length > 0 && $index < 5")
                                    a(ng-href="/uploads/{{i.path}}" data-lightbox="images" width="48"  data-title="{{i.title}}" ng-cloak)
                                        img.media-object.img-thumbnail(ng-src="/uploads/{{i.path}}" alt="{{i.title}}"  width="48" ng-cloak)
                                img.media-object.img-thumbnail(ng-if="company.images.length < 1" ng-src="/images/no_company.gif" alt="{{company.title}}" width="240" ng-cloak)
                                h6.text-center(style="clear:both; top: 10px; position: relative;")
                                    .fa.fa-thumbs-up.text-success(ng-if="comments_info.total > 0" ng-cloak)   {{comments_info.positive *100 / comments_info.total | floor4}}% &emsp; 
                                    .fa.fa-thumbs-down.text-danger(ng-if="comments_info.total > 0" ng-cloak)  {{comments_info.negative *100 / comments_info.total | floor4}}%    
                                    .pull-right.text-muted.zz-text-dashed(ng-if="comments_info.total > 0" data-toggle="popover" data-content="<div class='fa fa-thumbs-up text-success'> {{comments_info.positive}} положительных отзыва</div><div class='fa fa-thumbs-down text-danger' style='padding-top:5px'> {{comments_info.negative}} отрицательных отзыва</div>")  {{comments_info.total}} отзыва
                            .media-body.zz-parent
                                h2.media-heading {{company.title}}
                                address: i {{company.address}}
                                h3 Дополнительная информация
                                p {{company.idescription}}
                                ul#tabs.nav.nav-tabs.zz-child
                                    li.active
                                        a(href='#products', data-toggle='tab')
                                          span.fa.fa-lg.fa-shopping-cart
                                          |  Продукты
                                    li
                                        a(href='#info', data-toggle='tab' )
                                          span.fa.fa-lg.fa-info
                                          |  Инфо
                                    li
                                        a(href='#comments', data-toggle='tab')
                                          .fa.fa-lg.fa-comments-o
                                          span  Отзывы 
                                          span.text-muted {{comments_info.total}}
                                    .tab-content
        .row
            .col-xs-12
                .panel.panel-default
                    .panel-body.tab-content
                        #products.tab-pane.fade.in.active
                            legend: h2 Продукты
                            .col-lg-3.col-md-4.col-sm-6.col-xs-12.zz-product(ng-repeat="p in products" ng-cloak)
                                a(href="/product/one.html?id={{p.id}}" ng-cloak)
                                    .thumbnail
                                        img.img-thumbnail.img-responsive(ng-if="p.images.length > 0" ng-src="/uploads/{{p.images[0].path}}" width="240" ng-cloak)
                                        img.img-thumbnail.img-responsive(ng-if="p.images.length < 1" ng-src="/images/no_product.gif" width="240" ng-cloak)
                                        .caption
                                            h4.pull-right {{p.price}}
                                            h4
                                                b: a(ng-href="/product/one.html?id={{p.id}}" zz-text-limit="12" ng-cloak) {{p.title}}
                                        .caption.text-justify(ng-if='p.idescription' zz-text-collapse="24" ng-cloak)  {{p.idescription}} 
                                        .caption.text-justify(ng-if='!p.idescription' ng-cloak)  Описание отсутствует 
                                        .caption
                                            .pull-right.badge(ng-if="!!p.comments_info.total" ng-cloak) {{p.comments_info.total}} оценок
                                            .pull-right.badge(ng-if="!p.comments_info.total" ng-cloak) 0 оценок
                                            .text-danger(ng-if="p.comments_info.total > 0 && !!p.comments_info.rate" ng-cloak) 
                                                stars(count="{{p.comments_info.rate}}" ng-cloak)
                                            .text-danger(ng-if="p.comments_info.total < 1 || !p.comments_info.rate" ng-cloak) 
                                                | Рейтинг отсутствует
                            if pg
                                .col-xs-12
                                    nav.text-center
                                        ul.pagination(zz-pagination total="#{pg.total}", pg="#{pg.pg}", url="/product/index.html?cid=#{company.id}'", lm="#{pg.lm}" ng-cloak)
                        #info.tab-pane.fade
                            .col-xs-12
                                legend: h3 Информация о "{{company.title}}":
                            .col-xs-12
                                .col-xs-8
                                    b.col-xs-4 СПЕЦИАЛИЗАЦИЯ:
                                    .col-xs-6
                                        span(ng-repeat='r in company.rubrics' ng-cloak)  {{r.title}},
                                .col-xs-8
                                    b.col-xs-4 РАБОЧИЕ ДНИ:
                                .col-xs-8
                                    .col-xs-offset-4.col-xs-6(ng-repeat='m in company.mode' ng-cloak) 
                                        span(ng-if='m.work.is && m.lanch.is' ng-cloak) {{m.name}} &nbsp; с {{m.work.start}} до {{m.work.end}} &emsp; Обед: с {{m.lanch.start}} до {{m.lanch.end}}
                                        span(ng-if='m.work.is && !m.lanch.is' ng-cloak) {{m.name}} &nbsp; с {{m.work.start}} до {{m.work.end}} 
                                        span.text-danger(ng-if='!m.work.is' ng-cloak) {{m.name}} &nbsp;  Выходной
                            .col-xs-12
                                .col-xs-8
                                    legend: h3 О магазине
                                    p {{company.description}}
                                .col-xs-offset-8
                                    legend: h3 Адрес
                                    img.media-object.img-thumbnail(src="/images/no_map.gif" alt="{{company.description}}" width="400")
                        #comments.tab-pane.fade
                            legend: h2 Оставить отзыв:
                            .row#comment-input
                                if(session.user)
                                    .col-xs-9
                                        textarea.form-control(type="text" name="description" placeholder="Ведите описание не более 1000 символов", ng-model="comment.text")
                                    .col-xs-3
                                        span Рейтинг:  &emsp; 
                                        label.radio-inline
                                            input(type='radio' value='1' name='comment' checked ng-model='comment.rate')
                                            .fa.fa-thumbs-up.text-success.fa-lg  &emsp; 
                                        label.radio-inline
                                            input(type='radio' value='0' name='comment' ng-model='comment.rate')
                                            .fa.fa-thumbs-down.text-danger.fa-lg 
                                        p 
                                        .btn.btn-default.form-control(ng-click="addComment();" ng-class="canCommentAdd(comment.text)") Добавить
                                else
                                    .col-xs-9
                                        textarea.form-control(type="text" placeholder="Ведите описание не более 1000 символов" disabled="true")
                                    .col-xs-3
                                        a(href="/auth/login.html") Войдите 
                                        span  или 
                                        a(href="/auth/registration.html")  зарегистрируйтесь
                                        span  чтобы оставить свой отзыв.
                            .col-xs-12
                                legend: h3 Отзывы о "{{company.title}}" ( {{comments_info.total}} ):
                            .col-xs-12
                                .col-xs-9
                                    ul.media-list
                                        li.media(ng-repeat='c in comments' ng-if='data.visible === 2 || data.visible === c.rate' ng-cloak)
                                            a.media-left.media-middle.pull-left
                                                img(ng-if='c.uid.login' src='/images/no_user.gif', alt='{{c.uid.login}}' width="64")
                                                img(ng-if='!c.uid.login' src='/images/no_user.gif', alt='Неизвестный' width="64")
                                            .media-body
                                                h4.media-heading
                                                    small.fa.fa-thumbs-up.text-success(ng-if='c.rate == 1')  
                                                    small.fa.fa-thumbs-down.text-danger(ng-if='c.rate == 0')  
                                                    span(ng-if='c.uid.login')  {{c.uid.login}} &ensp;
                                                    span(ng-if='!c.uid.login')  Неизвестен &ensp;
                                                    small: i  от  {{c.createdAt | date:'dd/MM/yyyy @ hh:mm' }} 
                                                p(zz-text-collapse="56") {{c.text}}
                                            hr
                                            p: ul(ng-if='c.answer')
                                                    li.media
                                                        a.media-left.media-middle.pull-left(href='#')
                                                            img(src='/images/logo_32.png', alt='Логотип Kuz Club+')
                                                        .media-body
                                                            h4.media-heading
                                                                | Администрация Kuz Club+
                                                                small: i  от  {{c.answer.createdAt | date:'dd/MM/yyyy @ hh:mm' }} 
                                                            p(zz-text-collapse="56") {{c.answer.text}}
                                                    hr
                                .col-xs-offset-9
                                   div.list-group
                                        a.list-group-item.active.zz-cursor-pointer(ng-click='data.visible = 2')
                                            .fa.fa-comments.fa-lg
                                            span  Все отзывы
                                        a.list-group-item.zz-cursor-pointer(ng-click='data.visible = 1')
                                            .fa.fa-thumbs-up.fa-lg.text-success
                                            span  Все положительные отзывы
                                        a.list-group-item.zz-cursor-pointer(ng-click='data.visible = 0')
                                            .fa.fa-thumbs-down.fa-lg.text-danger
                                            span  Все отрицательные отзывы
                               .row
                                    nav.text-center
                                        ul.pagination
                                            li(ng-repeat="pg in data.pages" class="{{pg.cls}}")
                                                a(idx="{{pg.id}}" ng-click="onPageClick(pg)") {{pg.vs}}
block footer
    include ../sfooter

block script
    script(type="text/javascript").
        (function(){
            $('[data-toggle="popover"]').popover({
                placement: 'top'
                , html:    true
                , trigger: 'hover'
            });

            var app = angular.module('zz', ['zz.dir.alert', "zz.dir.pagination", 'zz.filter.floor', 'zz.dir.text']);
            app.directive('stars', function(){
                return {
                    restrict: 'AE'
                    , link: function (scope, e, attrs) {
                        scope.$watch(attrs.count, function(val) {
                            var cx = parseFloat(val, 10)
                                , html = "";
                           
                            for(var i = 0; i !== 5; i += 1) {
                                if(i < cx) {
                                    if(i < cx - 1) html += "<div class='fa fa-star text-success'></div>";
                                    else html += "<div class='fa fa-star-half-o text-success'></div>";
                                }
                                else html += "<div class='fa fa-star-o text-success'></div>";
                            }
                            if(val < 0) html = "";
                            e.html(html);
                        });
                    }
                    , replace:  true
                };
            });
            app.service('CommentService', function($rootScope, $http) {
                var lm_ = 100;

                this.fetch = function(company, pg) {
                    if(zz.undef(company)) return;
                    pg = pg || 1;
                    $http.get("/api/v1/company/comment_index?cid=" + company.id + "&pg=" + pg + "&lm=" + lm_)
                        .success(function(data) {
                            $rootScope.$broadcast('sendComments', data); 
                        }).error(function(data){
                            $rootScope.$broadcast('sendErrors', !zz.undef(data.errors) ? data.errors: [data]); 
                        });
                }
            });
            app.controller("TableController", function($scope, $http, CommentService) {
                $scope.products = []; 
                $scope.comments = []; 
                $scope.comments_info = (function(c) {return !zz.undef(c) ? c.comments_info : {};})(!{JSON.stringify(company)});
                $scope.data = {
                    visible:2
                    , pages:[]
                }; 
                $scope.comment = {
                    rate: 1
                    , comment: null
                }
                $scope.company =  (function(c) {return c || {};})(!{JSON.stringify(company)});
                $scope.products =  (function(c) {return c || {};})(!{JSON.stringify(products)});
                $scope.user =  (function(u) {return u || {};})(!{JSON.stringify(session.user)});

                $scope.$on("sendErrors", function(event, args) {
                    $scope.errors = args;
                });

                $scope.$on("sendComments", function(event, args) {
                    var png = new zz.Pagination();

                    $scope.comment.text  = null;
                    $scope.comment.rate  = 1;
                    $scope.comments      = args.comments;
                    $scope.data.pages    = png.create(args.pg);
                    $scope.comments_info = args.company.comments_info;
                });

                $scope.canCommentAdd = function(text) {
                    return !zz.undef(text) && text.length > 3 ? '' : 'disabled';
                }
                $scope.onPageClick = function(pg) {
                    if(zz.undef(pg) || zz.undef(pg.pg)) return;
                    CommentService.fetch($scope.company, pg.pg);
                }
                $scope.addComment = function() {
                    if(zz.undef($scope.comment.text) || zz.undef($scope.comment.rate) || zz.undef($scope.user.id)) return;
                    var data = {
                        uid:     $scope.user.id
                        ,cid:    $scope.company.id
                        ,text:   $scope.comment.text
                        ,rate:   parseInt($scope.comment.rate, 10)
                        , _csrf: (function(c) { return c;})('#{_csrf}')
                        ,answer: null
                    };

                    $http.post("/api/v1/company/comment_create", data)
                        .success(function(data) {
                            CommentService.fetch($scope.company);
                            $('#comment-input').hide();
                        }).error(function(data){
                            if(data.errors) $scope.errors = data.errors;
                        });
                }
                CommentService.fetch($scope.company);
            });
         })();  
