// 
// \file      product/one.jade 
// \brief     Product one (for one product)
// \author    S.Panin <dix75@mail.ru>
// \copyright S.Panin, 2014 - 2015 
// \version   v.1.5
// \created   December (the) 31(th), 2014, 17:20 MSK
// \updated   January  (the) 19(th), 2015, 01:09 MSK
// \updated   February (the) 11(th), 2015, 15:53 MSK
// \TODO      
// 

extends ../layout

block style
    style(type="text/css").
        .zz-text-dashed {
            text-decoration: none; 
            border-bottom: 1px dashed;
        }
        .zz-parent {
            position: relative;
            min-height: 260px;
        }
        .zz-child {
            position: absolute;
            bottom: 18px;
            width: 100%;
        }
        .zz {
            height: 260px !important;
        }
block header
    include ../header

block breadcrumb-navigation
    li: a(href="/") Главная 
    li: a(href="/product/index.html?cid=#{cid.id}") Компания '#{cid.title}'
    li: a(href="/product/index.html?cid=#{cid.id}") Продукты 
    li.active !{title}

block main
    .container.well(ng-controller="TableController")
        if flash.errors
            zz-alert(errors='!{JSON.stringify(flash.errors)}')
        zz-error
        .row
            .col-xs-9
                .panel.panel-default.zz
                    .panel-body 
                        .media
                            div.pull-left
                                img.media-object.img-thumbnail(ng-if="images.length < 1" ng-src="/images/no_product.gif" alt='#{title}' width="240" ng-cloak)
                                img.media-object.img-thumbnail(ng-if="images.length > 0" ng-src="/uploads/{{images[0].path}}" alt="{{image[0].title}}" width="240" ng-cloak)
                                span.pull-left(ng-repeat="i in images" ng-if="images.length > 0 && $index < 5" ng-cloak)
                                    a(ng-href="/uploads/{{i.path}}" data-lightbox="images" data-title="{{i.title}}" width="48" ng-cloak)
                                        img.media-object.img-thumbnail(ng-src="/uploads/{{i.path}}" alt="{{i.title}}"  width="48" ng-cloak)
                            .media-body.zz-parent
                                ul.pull-right
                                    li(ng-repeat="r in rubrics" ng-cloak) 
                                        a(href="/product/rubric.html?id={{r.id}}" ng-cloak) {{r.title}}
                                h1.media-heading.text-info !{title} 
                                p !{idescription}
                                h4.zz-child
                                    .row
                                        .col-xs-4 Производитель
                                        if brand && brand.title
                                            .col-xs-8 - !{brand.title}
                                        else 
                                            .col-xs-8 - Неизвестен
                                    .row
                                        .col-xs-4 Страна
                                        if country && country.title
                                            .col-xs-8 - !{country.title}
                                        else 
                                            .col-xs-8 - Неизвестна
            .col-xs-3
                .panel.panel-default.zz
                    .panel-body
                        h1.text-muted.text-center !{price} руб.
                        h5.text-center ( !{unit} ) 
                        .zz-child
                            h3.text-success(ng-cloak ng-if="comments_info.rate > 0") Рейтинг: &emsp; {{comments_info.rate | floor2}}
        .row
            div(ng-class="descClass()" ng-cloak)
                .panel.panel-default.zz
                    .panel-body 
                        legend: h2 Дополнительная информация
                        .fa.fa-quote-left.fa-3x.pull-left.fa-border
                        | #{description}
            div(ng-class="infoClass()" ng-cloak)
                .panel.panel-default.zz
                    .panel-body 
                        legend: h2 Характеристики
                        .row(ng-repeat="i in infos" ng-if="infos" ng-cloak)
                            .col-xs-6 {{i.key}}
                            .col-xs-6 {{i.value}}
         .row
             .col-xs-12
                .panel.panel-default
                    .panel-body 
                        legend: h2 Оставить отзыв:
                        .row
                            if(session.user)
                                .col-xs-9
                                    textarea.form-control(type="text" name="description" placeholder="Введите описание(не более 256 символов)", ng-model="comment.text")
                                .col-xs-3
                                    fieldset.zz-rating
                                        | Рейтинг:  &emsp;
                                        .fa.fa-star-o.fa-2x.text-success.zz-rate(ng-click='comment.rate = 1' onmouseover="rateOver(1)" onmouseLeave="rateLeave(1)" onclick='rateClick(1)')
                                        .fa.fa-star-o.fa-2x.text-success.zz-rate(ng-click='comment.rate = 2' onmouseover="rateOver(2)" onmouseLeave="rateLeave(2)" onclick='rateClick(2)')
                                        .fa.fa-star-o.fa-2x.text-success.zz-rate(ng-click='comment.rate = 3' onmouseover="rateOver(3)" onmouseLeave="rateLeave(3)" onclick='rateClick(3)')
                                        .fa.fa-star-o.fa-2x.text-success.zz-rate(ng-click='comment.rate = 4' onmouseover="rateOver(4)" onmouseLeave="rateLeave(4)" onclick='rateClick(4)')
                                        .fa.fa-star-o.fa-2x.text-success.zz-rate(ng-click='comment.rate = 5' onmouseover="rateOver(5)" onmouseLeave="rateLeave(5)" onclick='rateClick(5)')
                                    p 
                                    .btn.btn-default.form-control(ng-click="addComment();" ng-class="canCommentAdd(comment.text)") Добавить
                            else
                                .col-xs-9
                                    textarea.form-control(type="text" placeholder="Введите описание(не более 256 символов)" disabled="true")
                                .col-xs-3
                                    a(href="/auth/login") Войдите 
                                    span  или 
                                    a(href="/auth/registration")  зарегистрируйтесь
                                    span  чтобы оставить свой отзыв.
                        .col-xs-12
                            legend: h3(ng-cloak) Отзывы о "!{title}" ( {{comments_info.total}} ):
                        .col-xs-12
                            .col-xs-10
                                ul.media-list
                                    li.media(ng-repeat='c in comments' ng-if='data.visible === c.rate || data.visible === 6' ng-cloak)
                                        a.media-left.media-middle.pull-left
                                            img(ng-if='c.uid.login' src='/images/no_user.gif', alt='{{c.uid.login}}' width="64")
                                            img(ng-if='!c.uid.login' src='/images/no_user.gif', alt='Неизвестный' width="64")
                                        .media-body
                                            h4.media-heading
                                                stars(count="{{c.rate}}" ng-cloak)
                                                |  
                                                span(ng-if='c.uid')  {{c.uid.login}} &ensp;
                                                span(ng-if='!c.uid')  Неизвестен &ensp;
                                                small: i  от  {{c.createdAt | date:'dd/MM/yyyy @ hh:mm' }} 
                                            p {{c.text}}
                                        hr
                                        p: ul(ng-if='c.answer' ng-cloak)
                                                li.media
                                                    a.media-left.media-middle.pull-left(href='#')
                                                        img(src='/images/logo_32.png', alt='Логотип Kuz Club+')
                                                    .media-body
                                                        h4.media-heading
                                                            | Администрация Kuz Club+
                                                            small: i  от  {{c.answer.createdAt | date:'dd/MM/yyyy @ hh:mm' }} 
                                                        p {{c.answer.text}}
                                                hr
                            .col-xs-offset-10
                               div.list-group
                                    a.list-group-item.active.zz-cursor-pointer(ng-click='data.visible = 6')
                                        .fa.fa-comments.fa-lg
                                        span  Все отзывы
                                    a.list-group-item.zz-cursor-pointer(ng-click='data.visible = 0')
                                        stars(count="0") 
                                        |  Отзывы
                                    a.list-group-item.zz-cursor-pointer(ng-click='data.visible = 1')
                                        stars(count="1") 
                                        |  Отзывы
                                    a.list-group-item.zz-cursor-pointer(ng-click='data.visible = 2')
                                        stars(count="2") 
                                        |  Отзывы
                                    a.list-group-item.zz-cursor-pointer(ng-click='data.visible = 3')
                                        stars(count="3") 
                                        |  Отзывы
                                    a.list-group-item.zz-cursor-pointer(ng-click='data.visible = 4')
                                        stars(count="4") 
                                        |  Отзывы
                                    a.list-group-item.zz-cursor-pointer(ng-click='data.visible = 5')
                                        stars(count="5") 
                                        |  Отзывы
                           .row
                                nav.text-center
                                    ul.pagination
                                        li(ng-repeat="pg in data.pages" class="{{pg.cls}}" ng-cloak)
                                            a(idx="{{pg.id}}" ng-click="onPageClick(pg)") {{pg.vs}}
block footer
    include ../sfooter

block script
    script(type="text/javascript").
        (function(){
            window.rateOver = function(index) {
                $('.zz-rate:lt(' + index + ')').removeClass('fa-star-o text-info').addClass('fa-star text-success');
            }
            window.rateLeave = function() {
                var rate = $('body').scope().$$childHead.comment.rate;
                $('.zz-rate').removeClass('fa-star text-info').addClass('fa-star-o text-success');
                rateClick(rate);
            }
            window.rateClick = function(index) {
                $('.zz-rate:lt(' + index + ')').removeClass('fa-star-o text-success').addClass('text-info fa-star');
            }
            var app = angular.module('zz', ['zz.dir.alert','zz.filter.floor', 'zz.dir.text' ]);
            app.directive('stars', function(){
                return {
                    restrict: 'AE'
                    , link: function (scope, e, attrs) {
                        scope.$watch(attrs.count, function(val) {
                            var cx = parseInt(val, 10)
                                , html = "";
                            
                            for(var i = 0; i !== 5; i += 1) {
                                if(i < cx) html += "<div class='fa fa-star text-success'></div>";
                                else html += "<div class='fa fa-star-o text-success'></div>";
                            }
                            e.html(html);
                        });
                    }
                    , replace:  true
                };
            });
            app.service('CommentService', function($rootScope, $http) {
                var lm_ = 100
                    , pid_ = '!{id}';

                this.fetch = function(pg) {
                    pg = pg || 1;
                    $http.get("/api/v1/product/comment_index?pid=" + pid_ + "&pg=" + pg + "&lm=" + lm_)
                        .success(function(data) {
                            $rootScope.$broadcast('sendComments', data); 
                        }).error(function(data){
                            if(data.errors) $rootScope.$broadcast('sendErrors', data.errors); 
                        });
                }
            });
            app.controller("TableController", function($scope, $http, CommentService) {
                $scope.data = {
                    visible:6
                    , pages:[]
                    , title: '!{title}'
                }; 
                $scope.comments =  (function(c) { return c || [] })(!{JSON.stringify(comments)});
                $scope.comment_info = {
                    rate: 0
                } 
                $scope.comment = {
                    rate: 0
                    , text: null
                }
                $scope.images  = (function(c) { return c || [] })(!{JSON.stringify(images)});
                $scope.infos   = (function(c) { return c || [] })(!{JSON.stringify(infos)});
                $scope.rubrics = (function(c) { return c || [] })(!{JSON.stringify(rubrics)});

                $scope.infoClass = function() {
                    var infos_len = $scope.infos.length
                        , desc    = (function(c) { return c || ""}) (!{JSON.stringify(description)});

                    if(infos_len > 0 && desc.length > 0) return 'col-xs-5';
                    if(infos_len > 0) return 'col-xs-12';
                    return 'hide';
                }

                $scope.descClass = function() {
                    var infos_len = $scope.infos.length
                        , desc    = (function(c) { return c || ""}) (!{JSON.stringify(description)});

                    if(infos_len > 0 && desc.length > 0) return 'col-xs-7';
                    if(desc.length > 0) return 'col-xs-12';
                    return 'hide';
                }

                $scope.onPageClick = function(pg) {
                    if(zz.undef(pg) || zz.undef(pg.pg)) return;
                    CommentService.fetch(pg.pg);
                }
                $scope.canCommentAdd = function(text) {
                    return !zz.undef(text) && text.length > 3 ? '' : 'disabled';
                }
                $scope.addComment = function() {
                    var uid = (function(c) { return c ? c.id : null; })(!{JSON.stringify(session.user)})
                        , text = $scope.comment.text
                        , data = {
                            uid:     uid
                            ,pid:    '!{id}'
                            ,text:   text
                            ,rate:   parseInt($scope.comment.rate, 10)
                            , _csrf:  (function(c) { return c;})('#{_csrf}')
                            ,answer: null
                        };

                    $http.post("/api/v1/product/comment_create", data)
                        .success(function(data) {
                            CommentService.fetch($scope.company);
                            $scope.rate = data.comments && data.comments.rate || 0;
                        }).error(function(data){
                            if(data.errors) $scope.errors = data.errors;
                        });
                }
                $scope.$on("sendComments", function(event, args) {
                    $scope.comment.text  = null;
                    $scope.comment.rate  = 0;
                    rateLeave();
                    $scope.comments      = args.comments;
                    $scope.comments_info = args.product.comments_info;

                    var png = new zz.Pagination();
                    $scope.data.pages  = png.create(args.pg);
                });
                CommentService.fetch();
            });
         })();  
