// 
// \file      product/rubric.jade 
// \brief     Product rubric page
// \author    S.Panin <dix75@mail.ru>
// \copyright S.Panin, 2014 - 2015 
// \version   v.1.2
// \created   January (the) 20(th), 2015, 13:07 MSK
// \updated   March   (the) 02(th), 2015, 13:15 MSK
// \TODO      
// 

extends ../bread_layout

block style
    style(type="text/css").
        .zz-product :hover {
           background-color: #DDD;  
        }
block header
    include ../header

block breadcrumb-navigation
    li: a(href="/") Главная 
    li: a(href="/product/index.html?cid={{cid.id}}") {{cid.title}}
    li: a(href="/product/index.html?cid={{cid.id}}") Продукты 
    li.active {{rubric.title}}

block main
    .container.well(ng-controller="TableController")
        if flash.errors
            zz-alert(errors='#{JSON.stringify(flash.errors)}')
        zz-error
        .row(ng-if="rubrics.length")
            .col-xs-12
                .panel.panel-default
                    .panel-body.tab-content
                        .tab-pane.fade.in.active
                            legend: h2 Категории
                            .col-lg-3.col-md-4.col-sm-6.col-xs-12.zz-product(ng-repeat="r in rubrics" ng-cloak)
                                a(ng-href="{{r.url}}") {{r.title}}
        .row(ng-if="products.length")
            .col-xs-12
                .panel.panel-default
                    .panel-body.tab-content
                        .tab-pane.fade.in.active
                            legend: h2 {{rubric.title}}
                            .col-lg-3.col-md-4.col-sm-6.col-xs-12.zz-product(ng-repeat="p in products" ng-cloak)
                                a(href="/product/one.html?id={{p.id}}" ng-cloak)
                                    .thumbnail
                                        img.img-thumbnail.img-responsive(ng-src="/uploads/{{p.images[0].path}}" width="240" ng-cloak)
                                        img.img-thumbnail.img-responsive(ng-if="p.images.length < 1" ng-src="/images/product_default.png" width="240" ng-cloak)
                                        .caption
                                            h4.pull-right {{p.price}}
                                            h4
                                                b: a(ng-href="/product/one.html?id={{p.id}}" zz-text-limit="12" ng-cloak) {{p.title}}
                                        .caption.text-justify(ng-if='p.idescription' zz-text-collapse="24" ng-cloak)  {{p.idescription}} 
                                        .caption.text-justify(ng-if='!p.idescription' ng-cloak)  Описание отсутствует 
                                        .caption
                                            .pull-right.badge(ng-if="!!p.comments_info.total" ng-cloak) {{p.comments_info.total}} оценок
                                            .pull-right.badge(ng-if="!p.comments_info.total" ng-cloak) 0 оценок
                                            .text-danger(ng-if="p.comments_info.total > 0 && !!p.comments_info.rate" ng-cloak) 
                                                stars(count="{{p.comments_info.rate}}" ng-cloak)
                                            .text-danger(ng-if="p.comments_info.total < 1 || !p.comments_info.rate" ng-cloak) 
                                                | Рейтинг отсутствует
                            if pg
                                .col-xs-12
                                    nav.text-center
                                        ul.pagination(zz-pagination total="#{pg.total}", pg="#{pg.pg}", url="/product/rubric.html?id={{rubric.id}}", lm="#{pg.lm}" ng-cloak)
block footer
    include ../sfooter

block script
    script(type="text/javascript").
        (function(){
            var app = angular.module('zz', ['zz.dir.text', 'zz.dir.alert', "zz.dir.pagination"]);
            app.directive('stars', function(){
                return {
                    restrict: 'AE'
                    , link: function (scope, e, attrs) {
                        scope.$watch(attrs.count, function(val) {
                            var cx = parseFloat(val, 10)
                                , html = "";
                           
                            for(var i = 0; i !== 5; i += 1) {
                                if(i < cx) {
                                    if(i < cx - 1) html += "<div class='fa fa-star text-success'></div>";
                                    else html += "<div class='fa fa-star-half-o text-success'></div>";
                                }
                                else html += "<div class='fa fa-star-o text-success'></div>";
                            }
                            if(val < 0) html = "";
                            e.html(html);
                        });
                    }
                    , replace:  true
                };
            });

            app.controller("BreadController", function($scope) {
                $scope.cid    = (function(c) { return c || {}; })(!{JSON.stringify(cid)});
                $scope.rubric = null;

                $scope.$on("sendCurrentRubric", function(event, args) {
                    $scope.rubric = args;
                });
            });
            app.controller("TableController", function($scope, $http, $rootScope) {
                $scope.id       = zz.location().id;
                $scope.products = null;
                $scope.rubric   = null;
                $scope.pages    = null;
                $scope.rubrics  = null;

                $scope.initRubrics = function() {
                    $http.get("/api/v1/product/rubrics?id=" + $scope.id)
                        .success(function(d) {
                            if(zz.undef(d) || zz.undef(d.rubrics)) return;
                            var r = d.rubrics;

                            for(var i = 0; i !== r.length; ++i) {
                                r[i].url = "/product/rubric.html?id=" + r[i].id;
                                if(r[i].id == $scope.id) {
                                    $rootScope.$broadcast('sendCurrentRubric', r[i]); 
                                    $scope.rubric = r[i];
                                }
                            }
                            if(r.length > 1) $scope.rubrics = r;
                        }).error(function(data){
                            if(data.errors) $scope.errors = data.errors;
                        });
                };
                !(function(p) { 
                    $scope.products = p;
                    $scope.initRubrics(p);
                })(!{JSON.stringify(products)}); 
            });
         })();  
