extends ../free_layout

block header
    include ../header

block main
    .container-fluid(ng-app="zz" ng-controller="TableController")
        .row-fluid
            .col-xs-12
                #carousel.carousel.slide(data-interval="3000" data-ride="carousel")
                    ol.carousel-indicators
                        li.active(data-target="#carousel" data-slide-to="0")
                        li(data-target="#carousel" data-slide-to="1")
                        li(data-target="#carousel" data-slide-to="2")
                        li(data-target="#carousel" data-slide-to="3")
                    .carousel-inner
                        .item.active
                            img(src='/images/main/_1.jpg')
                        .item(ng-repeat='f in files')
                            img(ng-src='{{f}}')

                    a.left.carousel-control(href="#carousel" data-slide="prev" role="button")
                        span.glyphicon.glyphicon-chevron-left
                    a.right.carousel-control(href="#carousel" data-slide="next" role="button")
                        span.glyphicon.glyphicon-chevron-right
    .jumbotron
        .container
            .panel.panel-default
                .panel-body
                    .row
                        .col-xs-4
                            a.thumbnail(href="/company/index.html")
                                img(src="/images/main/companies.jpg" alt="Все магазины Кузнецка")
                                h4.text-center: b Все магазины
                        .col-xs-2
                            a.thumbnail(href="/company/index.html")
                                img(src="/images/main/computers.jpg" alt="Компьютеры и комплектующие Кузнецка")
                                h5.text-center Компьютеры и комплектующие
                        .col-xs-2
                            a.thumbnail(href="/company/index.html")
                                img(src="/images/main/baths.jpg" alt="Бани и сауны Кузнецка")
                                h5.text-center Бани и сауны
                        .col-xs-2
                            a.thumbnail(href="/company/index.html")
                                img(src="/images/main/drugs.jpg" alt="Поликлиники и аптеки Кузнецка")
                                h5.text-center Поликлиники и аптеки 
                        .col-xs-2
                            a.thumbnail(href="/company/index.html")
                                img(src="/images/main/materials.jpg" alt="Строительные материалы и изделия Кузнецка")
                                h5.text-center Строительные материалы и изделия
block footer
    include ../sfooter

block script
    script(type="text/javascript").
        (function(){
            $('#carousel').carousel({
                interval : 15000
                , cycle: true
            });

            var app = angular.module('zz', []);
            app.controller("TableController", function($scope, $http) {
                $scope.files = (function() { 
                    function rand(arr, max) {
                        var index =  Math.floor(Math.random() * max)
                            , result = arr[index];
                        arr.splice(index,1);
                        return {arr: arr, result: '/images/main/_' + result + '.jpg'};
                    }

                    var arr = (function() { var a = []; for(var i = 2; i <= 12; ++i) a.push(i); return a;})()
                        , r = []
                        , temp;
                        
                    temp =  rand(arr, 11);
                    r.push(temp.result);

                    temp =  rand(temp.arr, 10);
                    r.push(temp.result);

                    temp =  rand(temp.arr, 9);
                    r.push(temp.result);

                    return r;
                })();
            });
        })();  

