extends ../slayout

block header
    include ../header

block breadcrumb-navigation
    li: a(href="/") Главная 
    li.active Пользовательское соглашение

block main
    .container
        h3.text-center Пользовательское соглашение сервисов KuzCity
        ol
            li Общие положения
                ol.text-justify
                   li KuzCity (далее — «КузСити») предлагает пользователю сети Интернет (далее – Пользователь) - использовать свои сервисы на условиях, изложенных в настоящем Пользовательском соглашении (далее — «Соглашение», «ПС»). Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, предусмотренном п. 1.4 Соглашения.
                    li KuzCity предлагает Пользователям доступ к широкому спектру сервисов, включая средства навигации, коммуникации, поиска, размещения и хранения разного рода информации и материалов (контента), персонализации контента, совершения покупок и т. д. Все существующие на данный момент сервисы, а также любое развитие их и/или добавление новых является предметом настоящего Соглашения.
                    li Использование сервисов KuzCity регулируется настоящим Соглашением, Лицензией на использование поисковой системы KuzCity (http://xxxxxxxxx/), Политикой конфиденциальности (http://xxxxxxxxx/), а также условиями использования отдельных сервисов. Соглашение может быть изменено KuzCity без какого-либо специального уведомления, новая редакция Соглашения вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Соглашения. Действующая редакция ПС всегда находится на странице по адресу http://xxxxxxxxx/.
                    li Начиная использовать какой-либо сервис/его отдельные функции, либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не в праве использовать сервисы KuzCity. В случае если KuzCity были внесены какие-либо изменения в Соглашение в порядке, предусмотренном пунктом 1.3 Соглашения, с которыми Пользователь не согласен, он обязан прекратить использование сервисов KuzCity.
                li Регистрация Пользователя. Учетная запись Пользователя
                    ol.text-justify
                        li Для того чтобы воспользоваться некоторыми сервисами KuzCity или некоторыми отдельными функциями сервисов, Пользователю необходимо пройти процедуру регистрации, в результате которой для Пользователя будет создана уникальная учетная запись.
                        li Для регистрации Пользователь обязуется предоставить достоверную и полную информацию о себе по вопросам, предлагаемым в форме регистрации, и поддерживать эту информацию в актуальном состоянии. Если Пользователь предоставляет неверную информацию или у KuzCity есть основания полагать, что предоставленная Пользователем информация неполна или недостоверна, KuzCity имеет право по своему  усмотрению заблокировать либо удалить учетную запись Пользователя и отказать Пользователю в использовании своих сервисов (либо их отдельных функций).
                        li KuzCity оставляет за собой право в любой момент потребовать от Пользователя подтверждения данных, указанных при регистрации, и запросить в связи с этим подтверждающие документы (в частности - документы, удостоверяющие личность), непредоставление которых, по усмотрению KuzCity, может быть приравнено к предоставлению недостоверной информации и повлечь последствия, предусмотренные п. 2.2 Соглашения. В случае если данные Пользователя, указанные в предоставленных им документах, не соответствуют данным, указанным при регистрации, а также в случае, когда данные, указанные при регистрации, не позволяют идентифицировать пользователя, KuzCity вправе отказать Пользователю в доступе к учетной записи и использовании сервисов KuzCity.
                        li Персональная информация Пользователя, содержащаяся в учетной записи Пользователя, хранится и обрабатывается KuzCity в соответствии с условиями Политики конфиденциальности (http://xxxxxxxxxxxxxxxxxx/).
                        li Логин и пароль для доступа к учетной записи Пользователя. При регистрации Пользователь самостоятельно выбирает себе логин (уникальное символьное имя учетной записи Пользователя) и пароль для доступа к учетной записи. KuzCity вправе запретить использование определенных логинов, а также устанавливать требования к логину и паролю (длина, допустимые символы и т.д.).
                        li Пользователь обязан немедленно уведомить KuzCity о любом случае несанкционированного  (не разрешенного Пользователем) доступа к сервисам KuzCity с использованием учетной записи Пользователя и/или о любом нарушении (подозрениях о нарушении) конфиденциальности своего пароля. В целях безопасности, Пользователь обязан самостоятельно осуществлять безопасное завершение работы под своей учетной записью (кнопка «Выход») по окончании каждой сессии работы с сервисами KuzCity. KuzCity не отвечает за возможную потерю или порчу данных, а также другие последствия любого характера, которые могут произойти из-за нарушения Пользователем положений этой части Соглашения.
                        li Использование Пользователем своей учетной записи. Пользователь не в праве воспроизводить, повторять и копировать, продавать и перепродавать, а также использовать для каких-либо коммерческих целей какие-либо части сервисов KuzCity (включая контент, доступный Пользователю посредством сервисов), или доступ к ним, кроме тех случаев, когда Пользователь получил такое разрешение от KuzCity, либо когда это прямо предусмотрено пользовательским соглашением какого-либо сервиса. 
                        li Прекращение регистрации. KuzCity вправе заблокировать или удалить учетную запись Пользователя, а также запретить доступ с использованием какой-либо учетной записи к определенным сервисам KuzCity, и удалить любой контент без объяснения причин, в том числе в случае  нарушения Пользователем условий Соглашения или условий иных документов, предусмотренных п. 1.3. Соглашения, а также в случае неиспользования соответствующего сервиса, в частности:
                            ol.text-justify
                                li Персональные данные на сервисе KuzCity будут удалены, если Пользователь не пользовался ими более 6 месяцев;
                                li Страница Пользователя на сервисе KuzCity, а вместе с ним и все дополнительные сервисы (гостевая книга,  форум и др.), будут удалены, если в течение 4 месяцев на сайте не было ни одного посещения;
                                li Закладки Пользователя в сервисе KuzCity будут удалены, если Пользователь не пользовался ими более 12 месяцев.
                        li Удаление учетной записи Пользователя.
                            ol 
                                li Пользователь вправе в любой момент удалить свою учетную запись на всех сервисах KuzCity или прекратить ее действие в отношении некоторых из них, воспользовавшись соответствующей функцией в персональном разделе.
                                li Удаление учетной записи KuzCity осуществляется в следующем порядке:
                                li учетная запись блокируется на срок один месяц, в течение которого размещенные с ее использованием контент и иные пользовательские данные не удаляются, однако доступ к ним становится невозможен как для Пользователя – владельца учетной записи, так и для других пользователей;
                                li если в течение указанного выше срока учетная запись Пользователя будет восстановлена, доступ к указанным данным возобновляется в объеме, существовавшем на момент блокирования (за исключением контента, нарушающего условия Соглашения или иных документов, регулирующих соответствующий сервис);
                                li если в течение указанного выше срока учетная запись Пользователя не будет восстановлена, весь контент, размещенный с ее использованием, будет удален, а логин будет доступен для использования другим пользователям. С этого момента восстановление учетной записи, какой-либо информации, относящейся к ней, а равно доступов к сервисам KuzCity с использованием этой учетной записи - невозможны.
                                li Приведенный в пп. 2.10.2.1., 2.10.2.2., 2.10.2.3. Соглашения (за исключением доступности логина для использования другими пользователями) порядок применим также к запрету доступа с использованием какой-либо учетной записи к определенным сервисам.
                    li Общие положения об использовании и хранении
                        ol.text-justify
                            li KuzCity вправе устанавливать ограничения в использовании сервисов для всех Пользователей, либо для отдельных категорий Пользователей (в зависимости от места пребывания Пользователя, языка, на котором предоставляется сервис и т.д.), в том числе: наличие/отсутствие отдельных функций сервиса,  любого другого контента, максимальное количество сообщений, которые могут быть отправлены или получены одним зарегистрированным пользователем, максимальный размер почтового сообщения или дискового пространства, максимальное количество обращений к сервису за указанный период времени, максимальный срок хранения контента, специальные параметры загружаемого контента  и т.д. KuzCity может запретить автоматическое обращение к своим сервисам, а также прекратить прием любой информации, сгенерированной автоматически (например, почтового спама).
                            li KuzCity вправе посылать своим пользователям информационные сообщения.
                    li Контент Пользователя
                        ol.text-justify
                            li Пользователь самостоятельно несет ответственность за соответствие содержания размещаемого Пользователем контента требованиям действующего законодательства, включая ответственность перед третьим лицами в случаях, когда размещение Пользователем того или иного контента или содержание контента нарушает права и законные интересы третьих лиц, в том числе личные неимущественные права авторов, иные интеллектуальные права третьих лиц, и/или посягает на принадлежащие им нематериальные блага.
                            li Пользователь признает и соглашается с тем, что KuzCity не обязан просматривать контент любого вида, размещаемый и/или распространяемый Пользователем посредством сервисов KuzCity, а также то, что KuzCity имеет право (но не обязанность) по своему усмотрению отказать Пользователю в размещении и/или распространении им контента или удалить любой контент, который доступен посредством сервисов KuzCity. Пользователь осознает и согласен с тем, что он должен самостоятельно оценивать все риски, связанные с использованием контента, включая оценку надежности, полноты или полезности этого контента.
                            li Пользователь осознает и соглашается с тем, что технология работы сервисов может потребовать копирование (воспроизведение) контента Пользователя KuzCity, а также переработки его KuzCity для соответствия техническим требованиям того или иного сервиса.
                    li Условия использования сервисов KuzCity
                        ol.text-justify
                            li Пользователь самостоятельно несет ответственность перед третьими лицами за свои действия, связанные с использованием Сервиса, в том числе, если такие действия приведут к нарушению прав и законных интересов третьих лиц, а также за соблюдение законодательства при использовании Сервиса.
                            li При использовании сервисов KuzCity Пользователь не вправе:
                                ol
                                    li загружать, посылать, передавать или любым другим способом размещать и/или распространять контент, который является незаконным, вредоносным, клеветническим, оскорбляет нравственность, демонстрирует (или является пропагандой) насилия и жестокости, нарушает права интеллектуальной собственности, пропагандирует ненависть и/или дискриминацию людей по расовому, этническому, половому, религиозному, социальному признакам, содержит оскорбления в адрес каких-либо лиц или организаций, содержит элементы (или является пропагандой) порнографии, детской эротики, представляет собой рекламу (или является пропагандой) услуг сексуального характера (в том числе под видом иных услуг), разъясняет порядок изготовления, применения или иного использования наркотических веществ или их аналогов, взрывчатых веществ или иного оружия;
                                    li нарушать права третьих лиц, в том числе несовершеннолетних лиц и/или причинять им вред в любой форме;
                                    li выдавать себя за другого человека или представителя организации и/или сообщества без достаточных на то прав, в том числе за сотрудников KuzCity, за модераторов форумов, за владельца сайта, а также применять любые другие формы и способы незаконного представительства других лиц в сети, а также вводить пользователей или KuzCity в заблуждение относительно свойств и характеристик каких-либо субъектов или объектов; 
                                    li загружать, посылать, передавать или любым другим способом размещать и/или распространять контент, при отсутствии прав на такие действия согласно законодательству или каким-либо договорным отношениям;
                                    li загружать, посылать, передавать или любым другим способом размещать и/или распространять не разрешенную специальным образом рекламную информацию, спам (в том числе и поисковый), списки чужих адресов электронной почты, схемы «пирамид», многоуровневого (сетевого) маркетинга (MLM), системы интернет-заработка и e-mail-бизнесов, «письма счастья», а также использовать сервисы KuzCity для участия в этих мероприятиях, или использовать сервисы KuzCity, исключительно для перенаправления пользователей на страницы других доменов;
                                    li загружать, посылать, передавать или любым другим способом размещать и/или распространять какие-либо материалы, содержащие вирусы или другие компьютерные коды, файлы или программы, предназначенные для нарушения, уничтожения либо ограничения функциональности любого компьютерного или телекоммуникационного оборудования или программ, для осуществления несанкционированного доступа, а также серийные номера к коммерческим программным продуктам и программы для их генерации, логины, пароли и прочие средства для получения несанкционированного доступа к платным ресурсам в Интернете, а также размещения ссылок на вышеуказанную информацию;
                                    li несанкционированно собирать и хранить персональные данные других лиц;
                                    li нарушать нормальную работу веб-сайтов и сервисов KuzCity;
                                    li размещать ссылки на ресурсы сети, содержание которых противоречит действующему законодательству РФ;
                                    li содействовать действиям, направленным на нарушение ограничений и запретов, налагаемых Соглашением;
                                    li другим образом нарушать нормы законодательства, в том числе нормы международного права.
                    li Исключительные права на содержание сервисов и контент
                        ol.text-justify
                            li Все объекты, доступные при помощи сервисов KuzCity, в том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, программы для ЭВМ, базы данных, музыка, звуки и другие объекты (далее – содержание сервисов), а также любой контент, размещенный на сервисах KuzCity, являются объектами исключительных прав KuzCity, Пользователей и других правообладателей.
                            li Использование контента, а также каких-либо иных элементов сервисов возможно только в рамках функционала, предлагаемого тем или иным сервисом. Никакие элементы содержания сервисов KuzCity, а также любой контент, размещенный на сервисах KuzCity, не могут быть использованы иным образом без предварительного разрешения правообладателя. Под использованием подразумеваются, в том числе: воспроизведение, копирование, переработка, распространение на любой основе, отображение во фрейме и т.д. Исключение составляют случаи, прямо предусмотренные законодательством РФ или условиями использования того или иного сервиса KuzCity.
                            li Использование Пользователем элементов содержания сервисов, а также любого контента для личного некоммерческого использования, допускается при условии сохранения всех знаков охраны авторского права,  смежных прав, товарных знаков, других уведомлений об авторстве, сохранения имени (или псевдонима) автора/наименования правообладателя в неизменном виде, сохранении соответствующего объекта в неизменном виде. Исключение составляют случаи, прямо предусмотренные законодательством РФ или пользовательскими соглашениями того или иного сервиса KuzCity.
                    li Сайты и контент третьих лиц
                        ol.text-justify
                            li Сервисы KuzCity могут содержать ссылки на другие сайты в сети Интернет (сайты третьих лиц). Указанные третьи лица и их контент не проверяются KuzCity на соответствие тем или иным требованиям (достоверности, полноты, законности и т.п.). KuzCity не несет ответственность за любую информацию, материалы, размещенные на сайтах третьих лиц, к которым Пользователь получает доступ с использованием сервисов, в том числе, за любые мнения или утверждения, выраженные на сайтах третьих лиц, рекламу и т.п., а также за доступность таких сайтов или контента и последствия их использования Пользователем.
                            li Ссылка (в любой форме) на любой сайт, продукт, услугу, любую информацию коммерческого или некоммерческого характера, размещенная на Сайте, не является одобрением или рекомендацией данных продуктов (услуг, деятельности) со стороны KuzCity, за исключением случаев, когда на это прямо указывается на ресурсах KuzCity.
                    li Реклама на сервисах KuzCity
                        ol
                            li KuzCity несет ответственность за рекламу, размещенную на сервисах KuzCity, в пределах, установленных законодательством РФ.
                    li Отсутствие гарантий, ограничение ответственности
                        ol
                            li Пользователь использует сервисы KuzCity на свой собственный риск. Сервисы предоставляются «как есть». KuzCity не принимает на себя никакой ответственности, в том числе за соответствие сервисов целям Пользователя;
                            li KuzCity не гарантирует, что: сервисы соответствуют/будут соответствовать требованиям Пользователя; сервисы будут предоставляться непрерывно, быстро, надежно и без ошибок; результаты, которые могут быть получены с использованием сервисов, будут точными и надежными и могут использоваться для каких-либо целей или в каком-либо качестве (например, для установления и/или подтверждения каких-либо фактов); качество какого-либо продукта, услуги, информации и пр., полученных с использованием сервисов, будет соответствовать ожиданиям Пользователя;
                            li Любые информацию и/или материалы (в том числе загружаемое ПО, письма, какие-либо инструкции и руководства к действию и т.д.), доступ к которым Пользователь получает с использованием сервисов KuzCity, Пользователь может использовать на свой собственный страх и риск и самостоятельно несет ответственность за возможные последствия использования указанных информации и/или материалов, в том числе за ущерб, который это может причинить компьютеру Пользователя или третьим лицам, за потерю данных или любой другой вред;
                            li KuzCity не несет ответственности за любые виды убытков, произошедшие вследствие использования Пользователем сервисов KuzCity или отдельных частей/функций сервисов;
                            li При любых обстоятельствах ответственность KuzCity в соответствии со статьей 15 Гражданского кодекса России ограничена 10 000 (десятью тысячами) рублей РФ и возлагается на него при наличии в его действиях вины.
                    li Иные положения
                        ol.text-justify
                            li Настоящее Соглашение представляет собой договор между Пользователем и KuzCity относительно порядка использования сервисов и заменяет собой все предыдущие соглашения между Пользователем и KuzCity.
                            li Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные настоящим Соглашением, подлежат разрешению в соответствии с законодательством Российской Федерации. Все возможные споры, вытекающие из отношений, регулируемых настоящим Соглашением, разрешаются в порядке, установленном действующим законодательством Российской Федерации, по нормам российского права. Везде по тексту настоящего Соглашения, если явно не указано иное, под термином «законодательство» понимается как законодательство Российской Федерации, так и законодательство места пребывания Пользователя.
                            li Ввиду безвозмездности услуг, оказываемых в рамках настоящего Соглашения, нормы о защите прав потребителей, предусмотренные законодательством Российской Федерации, не могут быть применимыми к отношениям между Пользователем и KuzCity.
                            li Ничто в Соглашении не может пониматься как установление между Пользователем и KuzCity агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.
                            li Если по тем или иным причинам одно или несколько положений настоящего Соглашения будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений Соглашения.
                            li Бездействие со стороны Яндекса в случае нарушения Пользователем либо иными пользователями положений Соглашений не лишает KuzCity права предпринять соответствующие действия в защиту своих интересов позднее, а также не означает отказа KuzCity от своих прав в случае совершения в последующем подобных либо сходных нарушений.
                            li Настоящее Соглашение составлено на русском языке и в некоторых случаях может быть предоставлено Пользователю для ознакомления на другом языке. В случае расхождения русскоязычной версии Соглашения и версии Соглашения на ином языке, применяются положения русскоязычной версии настоящего Соглашения.

block footer
    include ../sfooter
