extends ../slayout

block header
    include ../header

block breadcrumb-navigation
    li: a(href="/") Главная 
    li.active Политика конфиденциальности

block main
    .container
        h3.text-center Политика конфиденциальности
        p.text-justify Обращаем Ваше внимание, что данная Политика с 30.09.2014 г. заменяет Соглашение о конфиденциальности персональной информации. Все ссылки на Соглашение просим считать ссылками на данную Политику.
        p.text-justify Настоящая Политика конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую KuzCity и/или его аффилированные лица, включая все лица, входящие в одну группу с  (далее — KuzCity), могут получить о пользователе во время использования им  сайтов, сервисов, служб, программ и продуктов KuzCity (далее — Сервисы, Сервисы KuzCity). Согласие пользователя на предоставление персональной информации, данное им в соответствии с настоящей Политикой в рамках отношений с одним из лиц, входящих в KuzCity, распространяется на все лица, входящие в KuzCity.
        p.text-justify Использование Сервисов KuzCity означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями пользователь должен воздержаться от использования Сервисов KuzCity.
        ol.text-justify
            li Персональная информация пользователей, которую получает и обрабатывает KuzCity
            ol
                li  В рамках настоящей Политики под «персональной информацией пользователя» понимаются:
                    ol  
                        li Персональная информация, которую пользователь предоставляет о себе самостоятельно при регистрации (создании учётной записи) или в процессе использования Сервисов, включая персональные данные пользователя. Обязательная для предоставления Сервисов (оказания услуг) информация помечена специальным образом. Иная информация предоставляется пользователем на его усмотрение.
                        li Данные, которые автоматически передаются Сервисам KuzCity в процессе их использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), время доступа, адрес запрашиваемой страницы.
                        li Иная информация о пользователе, сбор и/или предоставление которой определено в Регулирующих документах отдельных Сервисов KuzCity.
                li Настоящая Политика применима только к Сервисам KuzCity. KuzCity не контролирует и не несет ответственность за сайты третьих лиц, на которые пользователь может перейти по ссылкам, доступным на сайтах KuzCity, в том числе в результатах поиска. На таких сайтах у пользователя может собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.
                li KuzCity в общем случае не проверяет достоверность персональной информации, предоставляемой пользователями, и не осуществляет контроль за их дееспособностью. Однако KuzCity исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в форме регистрации, и поддерживает эту информацию в актуальном состоянии. Последствия предоставления недостоверной информации определены в Пользовательском соглашении сервисов KuzCity  
            li Цели сбора и обработки персональной информации пользователей
                ol 
                    li KuzCity собирает и хранит только те персональные данные, которые необходимы для предоставления Сервисов и оказания услуг (исполнения соглашений и договоров с пользователем).
                    li Персональную информацию пользователя KuzCity может использовать в следующих целях: 
                        ol
                            li Идентификация стороны в рамках соглашений и договоров с KuzCity;
                            li Предоставление пользователю персонализированных Сервисов; 
                            li Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования Сервисов, оказания услуг, а также обработка запросов и заявок от пользователя;
                            li Улучшение качества Сервисов, удобства их использования, разработка новых Сервисов и услуг; 
                            li Таргетирование рекламных материалов;
                            li Проведение статистических и иных исследований на основе обезличенных данных.
            li Условия обработки персональной информации пользователя и её передачи третьим лицам 
                ol
                    li KuzCity хранит персональную информацию пользователей в соответствии с внутренними регламентами конкретных сервисов.
                    li В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных Сервисов (действующих  на сайте), пользователь соглашается с тем, что определённая часть его персональной информации становится общедоступной. 
                ol KuzCity вправе передать персональную информацию пользователя третьим лицам в следующих случаях: 
                    li Пользователь выразил свое согласие на такие действия; 
                    li Передача необходима в рамках использования пользователем определенного Сервиса либо для оказания услуги пользователю; 
                    li При использовании Пользователем сервисов и услуг компании KuzCity,  персональная информация Пользователя может передаваться в KuzCity для обработки на условиях и для целей, определённых в Соглашении об использовании сервиса KuzCity и Политике Конфиденциальности KuzCity;
                    li Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;
                    li Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;
                    li  В целях обеспечения возможности защиты прав и законных интересов KuzCity или третьих лиц в случаях, когда пользователь нарушает Пользовательское соглашение сервисов KuzCity.
                ol При обработке персональных данных пользователей KuzCity руководствуется Федеральным законом РФ «О персональных данных». 
            li Изменение пользователем персональной информации
                ol
                    li Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть, а также параметры её конфиденциальности, воспользовавшись функцией редактирования персональных данных в разделе «Настройки» (https://xxxxxxxxxxxxxxxxxx) либо в персональном разделе соответствующего Сервиса.
                    li Пользователь также может удалить предоставленную им в рамках определенной учетной записи персональную информацию, воспользовавшись функцией «Удалить аккаунт» в разделе «Настройки» (https://xxxxxxxxxxxxxxxxxxxx). При этом удаление аккаунта может повлечь невозможность использования некоторых Сервисов KuzCity.
            li Меры, применяемые для защиты персональной информации пользователей KuzCity принимает необходимые и достаточные организационные и технические меры для защиты персональной информации пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
            li Изменение Политики конфиденциальности. Применимое законодательство
                ol
                    li KuzCity имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики. Действующая редакция всегда находится на странице по адресу http://xxxxxxxxxxxxxxxxxxxxx/.
                    li К настоящей Политике и отношениям между пользователем и KuzCity, возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации. 
            li Обратная связь. Вопросы и предложения 

        h4.text-justify Все предложения или вопросы по поводу настоящей Политики следует сообщать в Службу поддержки пользователей KuzCity (http://xxxxxxxxxxxxxxxxxx/), либо по адресу 442500, Кузнецк, ул. Кирова, xx, "KuzCity".

block footer
    include ../sfooter
