extends ../../layout

block header
    include ../../header

block modal
    modals(ng-controller="ModalController")
        .modal.fade#modal-remove
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type="button" data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close
                        h4.modal-title Удаление комментария
                    .modal-body
                        p(ng-if='comment.user_id') Вы действительно хотите удалить комментарий от '{{comment.user_id.login}}' за {{comment.createdAt | date:'dd/MM/yyyy @ hh:mm' }} ?
                        p(ng-if='!comment.user_id') Вы действительно хотите удалить комментарий от 'Неизвестного' пользователя за {{comment.createdAt | date:'dd/MM/yyyy @ hh:mm' }} ?
                    .modal-footer
                        button.btn.btn-default(type="button" ng-click="destroyComment()" data-dismiss="modal" data-toggle='modal') Да
                        button.btn.btn-primary(type="button" data-dismiss="modal") Нет

        .modal#modal-add
            .modal-dialog
                .modal-content
                    .modal-header
                        button(type="button" class="close" data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close
                        h4.modal-title Добавление ответа на комментарий
                    .modal-body
                        form.form-horizontal
                            .form-group
                                label.col-md-3.control-label(for="answer") Ответ
                                .col-md-9
                                    textarea.form-control(type="text" name="answer" placeholder="Введите ответ", ng-model="comment.answer.comment")
                    .modal-footer
                        button.btn.btn-default(type="button" ng-click="addAnswer()" data-dismiss="modal" data-toggle='modal') Добавить
                        button.btn.btn-primary(type="button" data-dismiss="modal") Отказаться
        .modal#modal-edit
            .modal-dialog
                .modal-content
                    .modal-header
                        button(type="button" class="close" data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close
                        h4.modal-title Изменение ответа на комментарий
                    .modal-body
                        form.form-horizontal
                            .form-group
                                label.col-md-3.control-label(for="answer") Ответ
                                .col-md-9
                                    textarea.form-control(type="text" name="answer" placeholder="Введите ответ", ng-model="comment.answer.comment")
                    .modal-footer
                        button.btn.btn-default(type="button" ng-click="editAnswer()" data-dismiss="modal" data-toggle='modal') Изменить
                        button.btn.btn-primary(type="button" data-dismiss="modal" ng-click="comment.answer = null") Отказаться
        .modal.fade#modal-remove-answer
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type="button" data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close
                        h4.modal-title Удаление комментария
                    .modal-body
                        p Вы действительно хотите удалить ответ?
                    .modal-footer
                        button.btn.btn-default(type="button" ng-click="destroyAnswer()" data-dismiss="modal") Да
                        button.btn.btn-primary(type="button" data-dismiss="modal") Нет
block breadcrumb-navigation
    li: a(href="/") Главная 
    li.active Комментарии о компаниях

block main
    .container.well(ng-controller="TableController")
        zz-error
        .row
            .col-xs-12
                .panel.panel-default
                    .panel-body 
                        h2 Комментарии о компаниях
                        hr
                        ul.list-group 
                            a.list-group-item.clearfix(ng-repeat='c in comments')
                                .pull-left.zz-padding-right-12
                                    img.img-thumbnail(src='http://placehold.it/64x64' alt='{{c.user_id.login}}' width="64")
                                .list-group-item-heading
                                    small.fa.fa-thumbs-up.text-success(ng-if="c.rate === 1")
                                    small.fa.fa-thumbs-down.text-danger(ng-if="c.rate === 0")
                                    span(ng-if='c.user_id')  {{c.user_id.login}} &ensp;
                                    span(ng-if='!c.user_id')  Неизвестен &ensp;
                                    small: i  от  {{c.createdAt | date:'dd/MM/yyyy @ hh:mm' }} 
                                    span.pull-right
                                        button.btn.btn-xs.btn-success(title='Добавить ответ на комментарий' type="button" data-toggle="modal" data-target="#modal-add" ng-click='beforeComment(c)')
                                            span.glyphicon.glyphicon-plus
                                        | 
                                        button.btn.btn-xs.btn-danger(title='Удалить комментарий' type="button" data-toggle="modal" data-target="#modal-remove" ng-click='beforeComment(c)')
                                            span.glyphicon.glyphicon-trash
                                .list-group-item-text  {{c.comment}}
                                p 
                                    hr(ng-if='c.answer')
                                    .pull-left.zz-padding-right-12.col-xs-offset-1(ng-if='c.answer')
                                        img(src='/images/logo_32.png', alt='Логотип Kuz Club+')
                                    .list-group-item-heading(ng-if='c.answer')
                                        span  Администрация Kuz Club+ &ensp;
                                        small: i  от  {{c.answer.createdAt | date:'dd/MM/yyyy @ hh:mm' }} 
                                        span.pull-right
                                            button.btn.btn-xs.btn-warning(title='Изменить ответ на комментарий' type="button" data-toggle="modal" data-target="#modal-edit" ng-click='beforeComment(c)')
                                                span.glyphicon.glyphicon-edit
                                            | 
                                            button.btn.btn-xs.btn-danger(title='Удалить ответ' type="button" data-toggle="modal" data-target="#modal-remove-answer" ng-click='beforeComment(c)')
                                                span.glyphicon.glyphicon-remove
                                    .list-group-item-text {{c.answer.comment}}
        .row
            nav.text-center
                ul.pagination
                    li(ng-repeat="pg in pages" class="{{pg.cls}}")
                        a(idx="{{pg.id}}" ng-click="onPageClick(pg)") {{pg.vs}}

block footer
    include ../../sfooter

block script
    script(type="text/javascript").
        (function(){
            var app = angular.module('zz', ['zz.dir.alert']);
            app.service('Service', function($rootScope, $http) {
                var lm_ = 100;

                function fetchAll(pg) {
                    pg = pg || 1;
                    $http.get("/api/v1/comment/index?pg=" + pg + "&lm=" + lm_)
                        .success(function(data) {
                            $rootScope.$broadcast('sendError', []); 
                            $rootScope.$broadcast('sendComments', data); 
                        }).error(function(data){
                            if(data.errors) $rootScope.$broadcast('sendError', data.errors); 
                        });
                }
                this.fetch = function(pg) {
                    fetchAll(pg);
                    angular.
                }
                this.edit = function(data) {
                    data.user_id = data.user_id.id;
                    $http.post("/api/v1/comment/update", data)
                        .success(function(d) {
                            fetchAll();
                        }).error(function(data){
                            if(data.errors) $rootScope.$broadcast('sendError', data.errors); 
                        });
                }
                this.destroy = function(data) {
                    $http.post("/api/v1/comment/destroy", data)
                        .success(function(d) {
                            fetchAll();
                        }).error(function(data){
                            if(data.errors) $rootScope.$broadcast('sendError', data.errors); 
                        });
                }
                this.setCurrentComment = function(c) {
                    $rootScope.$broadcast('sendCurrentComment', c);
                }
                fetchAll();
            });

            app.controller("ModalController", function($scope, $http, Service) {
                $scope.comment = {};

                $scope.$on("sendCurrentComment", function(event, args) {
                    $scope.comment = args;
                });
                $scope.destroyComment = function(){
                    Service.destroy($scope.comment);
                }
                $scope.addAnswer = function(){
                    $scope.comment.answer.createdAt = new Date();
                    Service.edit($scope.comment);
                }
                $scope.editAnswer = function(){
                    if($scope.comment.answer.comment.length < 1) $scope.comment.answer = null;
                    Service.edit($scope.comment);
                }
                $scope.destroyAnswer = function(){
                    $scope.comment.answer = null;
                    Service.edit($scope.comment);
                }
            });
            app.controller("TableController", function($scope, $http, Service) {
                $scope.comments = [];
                $scope.pages = [];

                $scope.$on("sendComments", function(event, args) {
                    if(zz.undef(args) || zz.undef(args.comments) || zz.undef(args.pagination)) return;
                    $scope.comments = args.comments;

                    var png = new zz.Pagination();
                    $scope.pages  = png.create(args.pagination);
                });
                $scope.$on("sendError", function(event, args) {
                    $scope.errors = args;
                });
                $scope.onPageClick = function(pg) {
                    if(zz.undef(pg) || zz.undef(pg.pg)) return;
                    Service.fetch(pg.pg);
                }
                $scope.beforeComment = function(c) {
                    Service.setCurrentComment(c);
                };
            });

         })();  
