// 
// \file      company/index.jade 
// \brief     Companies all
// \author    S.Panin <dix75@mail.ru>
// \copyright S.Panin, 2014 - 2015 
// \version   v.1.2
// \created   December (the) 31(th), 2014, 17:20 MSK
// \updated   February (the) 17(th), 2015, 19:40 MSK
// \TODO      
// 
extends ../layout

block header
    include ../header

block breadcrumb-navigation
    li: a(href="/") Главная 
    li.active Компании

block main
    .container.well(ng-controller="TableController")
        if flash && flash.errors
            zz-alert(errors='!{JSON.stringify(flash.errors)}')
        zz-error
        .row
            .col-xs-12
                .panel.panel-default
                    .panel-body
                        legend: h2 Компании
                        table.well.table.table-striped.table-hover
                            tbody
                                tr(ng-repeat="c in companies" ng-click="onClick(c);" ng-cloak)
                                    td(width="140")
                                        img.img-thumbnail(ng-if="c.images.length > 0" ng-src="/uploads/{{c.images[0].path}}"  width="125" ng-cloak)
                                        img.img-thumbnail(ng-if="c.images.length < 1" ng-src="/images/no_company.gif"  width="125" ng-cloak)
                                    td 
                                        div
                                            h3(style="top: -20px; position: relative;")
                                                b: a.zz-cursor-pointer.text-uppercase {{c.title}}
                                            h5.text-muted(style="top: -30px; position: relative;" ng-cloak) {{c.utitle}}
                                            .caption(style="top: -24px; position: relative;")
                                                .caption.text-justify(zz-text-collapse="256" ng-cloak) {{c.idescription}}
                                                .caption.text-justify 
                                                    .text-muted Специализация:
                                                        a(href="/company/rubric.html?id={{r.id}}" ng-repeat='r in c.rubrics' ng-cloak)  {{r.title}} |    
                                    td
                                        .caption.pull-right(ng-if="c.comments_info.total > 0" ng-cloak)
                                            div
                                                .fa.fa-thumbs-up.text-success  {{c.comments_info.positive *100 / c.comments_info.total | floor4 }}% &emsp; 
                                                .fa.fa-thumbs-down.text-danger {{c.comments_info.negative *100 / c.comments_info.total | floor4 }}%    
                                            h6
                                                    a.text-muted(href="#" ng-cloak) {{c.comments_info.total}} отзыва
                                        .caption.pull-right(ng-if="c.comments_info.total === 0" ng-cloak)
                                            h6
                                                    a.text-muted(href="#") 0 отзывов
        if pg
            .row
                nav.text-center
                    ul.pagination(zz-pagination total="#{pg.total}", pg="#{pg.pg}", url="/company/index.html'", lm="#{pg.lm}" ng-cloak)

block footer
    include ../sfooter

block script
    script(type="text/javascript").
        (function(){
            var app = angular.module('zz', ['zz.dir.alert', "zz.dir.pagination", 'zz.dir.text', 'zz.filter.floor']);
            app.controller("TableController", function($scope, $http) {
                $scope.companies = []; 

                $scope.onClick = function(company) {
                    if(zz.undef(company) || zz.undef(company.id)) return;
                    window.location.href = "/product/index.html?cid=" + company.id;
                };
                !(function(companies) {
                    if(!zz.undef(companies)) $scope.companies = companies;
                })(!{JSON.stringify(companies)});
            });
         })();  
