// 
// \file      company/rubric.jade 
// \brief     Company rubric page
// \author    S.Panin <dix75@mail.ru>
// \copyright S.Panin, 2014 - 2015 
// \version   v.1.1
// \created   March   (the) 03(th), 2015, 16:37 MSK
// \updated   March   (the) 03(th), 2015, 16:37 MSK
// \TODO      
// 

extends ../bread_layout

block style
    style(type="text/css").
        .zz-product :hover {
           background-color: #DDD;  
        }
block header
    include ../header

block breadcrumb-navigation
    li: a(href="/") Главная 
    li: a(href="/company/index.html?cid={{cid.id}}") Компании 
    li.active {{rubric.title}}

block main
    .container.well(ng-controller="TableController")
        if flash && flash.errors
            zz-alert(errors='#{JSON.stringify(flash.errors)}')
        zz-error
        .row(ng-if="rubrics.length")
            .col-xs-12
                .panel.panel-default
                    .panel-body.tab-content
                        .tab-pane.fade.in.active
                            legend: h2 Категории
                            .col-lg-3.col-md-4.col-sm-6.col-xs-12.zz-product(ng-repeat="r in rubrics" ng-cloak)
                                a(ng-href="{{r.url}}") {{r.title}}
        .row(ng-if="companies.length")
            .col-xs-12
                .panel.panel-default
                    .panel-body.tab-content
                        .tab-pane.fade.in.active
                            legend: h2 {{rubric.title}}
                            table.well.table.table-striped.table-hover
                                tbody
                                    tr(ng-repeat="c in companies" ng-click="onClick(c);" ng-cloak)
                                        td(width="140")
                                            img.img-thumbnail(ng-if="c.images.length > 0" ng-src="/uploads/{{c.images[0].path}}"  width="125" ng-cloak)
                                            img.img-thumbnail(ng-if="c.images.length < 1" ng-src="/images/no_company.gif"  width="125" ng-cloak)
                                        td 
                                            div
                                                h3(style="top: -20px; position: relative;")
                                                    b: a.zz-cursor-pointer.text-uppercase {{c.title}}
                                                h5.text-muted(style="top: -30px; position: relative;" ng-cloak) {{c.utitle}}
                                                .caption(style="top: -24px; position: relative;")
                                                    .caption.text-justify(zz-text-collapse="256" ng-cloak) {{c.idescription}}
                                        td
                                            .caption.pull-right(ng-if="c.comments_info.total > 0" ng-cloak)
                                                div
                                                    .fa.fa-thumbs-up.text-success  {{c.comments_info.positive *100 / c.comments_info.total | floor4 }}% &emsp; 
                                                    .fa.fa-thumbs-down.text-danger {{c.comments_info.negative *100 / c.comments_info.total | floor4 }}%    
                                                h6
                                                        a.text-muted(href="#" ng-cloak) {{c.comments_info.total}} отзыва
                                            .caption.pull-right(ng-if="c.comments_info.total === 0" ng-cloak)
                                                h6
                                                        a.text-muted(href="#") 0 отзывов
            if pg
                .row
                    nav.text-center
                        ul.pagination(zz-pagination total="#{pg.total}", pg="#{pg.pg}", url="/company/rubric.html?id={{rubric.id}}", lm="#{pg.lm}" ng-cloak)

block footer
    include ../sfooter

block script
    script(type="text/javascript").
        (function(){
            var app = angular.module('zz', ['zz.dir.alert', "zz.dir.pagination", 'zz.dir.text', 'zz.filter.floor']);
            app.directive('stars', function(){
                return {
                    restrict: 'AE'
                    , link: function (scope, e, attrs) {
                        scope.$watch(attrs.count, function(val) {
                            var cx = parseFloat(val, 10)
                                , html = "";
                           
                            for(var i = 0; i !== 5; i += 1) {
                                if(i < cx) {
                                    if(i < cx - 1) html += "<div class='fa fa-star text-success'></div>";
                                    else html += "<div class='fa fa-star-half-o text-success'></div>";
                                }
                                else html += "<div class='fa fa-star-o text-success'></div>";
                            }
                            if(val < 0) html = "";
                            e.html(html);
                        });
                    }
                    , replace:  true
                };
            });

            app.controller("BreadController", function($scope) {
                $scope.cid    = (function(c) { return c || {}; })(!{JSON.stringify(cid)});
                $scope.rubric = null;

                $scope.$on("sendCurrentRubric", function(event, args) {
                    $scope.rubric = args;
                });
            });
            app.controller("TableController", function($scope, $http, $rootScope) {
                $scope.id       = zz.location().id;
                $scope.companies = null;
                $scope.rubric   = null;
                $scope.pages    = null;
                $scope.rubrics  = null;

                $scope.initRubrics = function() {
                    $http.get("/api/v1/company/rubrics?id=" + $scope.id)
                        .success(function(d) {
                            if(zz.undef(d) || zz.undef(d.rubrics)) return;
                            var r = d.rubrics;

                            for(var i = 0; i !== r.length; ++i) {
                                r[i].url = "/company/rubric.html?id=" + r[i].id;
                                if(r[i].id == $scope.id) {
                                    $rootScope.$broadcast('sendCurrentRubric', r[i]); 
                                    $scope.rubric = r[i];
                                }
                            }
                            if(r.length > 1) $scope.rubrics = r;
                        }).error(function(data){
                            if(data.errors) $scope.errors = data.errors;
                        });
                };
                !(function(p) { 
                    $scope.companies = p;
                    $scope.initRubrics(p);
                })(!{JSON.stringify(companies)}); 
            });
         })();  
