/*@import "bootstrap.less";*/

.zz-breadcrumb {
    padding-top: 70px;
}
.zz-main {
    padding-bottom: 80px;
}
.zz-text-vmiddle {
    vertical-align:middle !important;
}
.zz-cursor-pointer {
    cursor: pointer;
}
.zz-padding-right-12 {
    padding-right: 12px;
} 
.zz-padding-left-12 {
    padding-left: 12px;
}
