// 
// \file      product/admin/moderator/edit.h 
// \brief     Product edit view for a moderator
// \author    S.Panin <dix75@mail.ru>
// \copyright S.Panin, 2014 - 2015 
// \version   v.2.1
// \created   December (the) 31(th), 2014, 13:51 MSK
// \updated   February (the) 04(th), 2015, 15:00 MSK
// \TODO      
// 

extends ../../../layout

block style
    style(type="text/css").
        .popover {
            max-width:600px;
        }
        .zz-td {
            max-width:  186px;
            min-width:  186px;
            text-align: left;
        }
        .zz-abyss {
            max-width:  6px;
            min-width:  6px;
        }
        .zz-x {
            font-size:  small;
        }
        .zz-time {
            max-width: 78px;
        } 
        .zz-day-off {
            width: 158px;
        }

block header
    include ../../../header

block breadcrumb-navigation
    li: a(href="/") Главная 
    li: a(href='/admin/product/index.html') Продукты
    li.active Изменение продукта

block main
        .container.well(ng-controller="TableController")
            zz-error
            .row
                .col-xs-12
                    .panel.panel-default
                         .panel-body 
                            legend: h2 Изменение продукта
                            .form-group
                                .col-xs-offset-3.col-xs-9
                                  b.text-danger * 
                                  span Требуемая информация
                            form.form-horizontal
                                .form-group
                                    label.col-xs-3.control-label(for="title") Название
                                        b.text-danger * 
                                    .col-xs-9
                                        input.form-control(type="text" name="title" placeholder="Введите название продукта" ng-model="form.title" maxlength='64')
                                        i.help-block например: Бананы
                                .form-group
                                    label.col-xs-3.control-label(for="brand") Бренд
                                        b.text-danger * 
                                    .col-xs-9
                                        input.form-control#zz-brands(type="text" data-provide='typeahead' name="brand" placeholder="Введите бренд продукта" ng-model="form.brand" maxlength='64' autocomplete="off")
                                        i.help-block например: Adidas
                                .form-group
                                    label.col-xs-3.control-label(for="country") Страна производитель
                                        b.text-danger * 
                                    .col-xs-9
                                        input.form-control#zz-countries(type="text" data-provide='typeahead' name="country" placeholder="Введите страну производителя продукта" ng-model="form.country" maxlength='64' autocomplete="off")
                                        i.help-block например: Россия
                                .form-group
                                    label.col-xs-3.control-label(for="unit") Ед.измерения
                                        b.text-danger * 
                                    .col-xs-9
                                        input.form-control(type="text", name="unit", placeholder="Введите единицу измерения", ng-model="form.unit" maxlength='16')
                                        i.help-block например: шт. или 1000гр.
                                .form-group
                                    label.col-xs-3.control-label(for="price") Цена
                                        b.text-danger * 
                                    .col-xs-9
                                        .input-group
                                            input.form-control(type="text", name="price", placeholder="Введите стоимость продукта", ng-model="form.price" maxlength='16')
                                            span.input-group-addon руб. 
                                        i.help-block например: 100.25
                                .form-group
                                    label.col-xs-3.control-label(for="images") Картинки, Фотографии
                                    .col-xs-9
                                        .fileinput.fileinput-new.input-group(data-provides="fileinput")
                                            #file-error.form-control(data-trigger="fileinput")
                                                i.glyphicon.glyphicon-file.fileinput-exists
                                                span.fileinput-filename
                                            span.input-group-addon.btn.btn-default.btn-file
                                                span.fileinput-new Выберите файл...
                                                span.fileinput-exists Изменить
                                                input(type="file" name="avatar" file-model="file" ng-model='file')
                                            a.input-group-addon.btn.btn-default.fileinput-exists(href="#" data-dismiss="fileinput") Удалить
                                            a.input-group-addon.btn.btn-default.fileinput-exists(ng-click="uploadImage()" data-dismiss="fileinput") Загрузить
                                    .col-xs-9.col-xs-offset-3
                                        table.well.table.table-striped.table-hover(ng-if="form.images.length > 0" ng-cloak)
                                            tbody
                                                tr(ng-repeat="i in form.images" ng-cloak)
                                                    td.zz-text-vmiddle(width="60" height="60")
                                                        a(ng-href="/uploads/{{i.path}}" data-lightbox="images" data-title="{{i.title}}")
                                                            img.img-thumbnail(ng-src="/uploads/{{i.path}}" width='48' height="48" data-lightbox="images" ng-cloak)
                                                    td.zz-text-vmiddle.text-left(ng-cloak) {{i.title}}
                                                    td.zz-text-vmiddle.text-right
                                                        .btn-group.btn-group-xs
                                                            button.btn.btn-danger.glyphicon.glyphicon-remove(type="button" ng-click='removeImage(i.path)' title="Удалить")
                                .form-group
                                    label.col-xs-3.control-label(for="activity") Вид деятельности
                                        b.text-danger * 
                                    .col-xs-9
                                        input.form-control#zz-rubricator-typeahead(type='text', data-provide='typeahead', disabled=false, placeholder="Введите название рубрики" ng-disabled='form.rubrics.length > 2')
                                        .text-center: a#zz-rubricator.zz-cursor-pointer.zz-popover(data-title="Рубрикатор видов деятельности" ng-show="form.rubrics.length < 3") Выбрать из рубрикатора
                                        ul
                                        ul#zz-rubricator-content
                                            li.zz-x.text-muted(ng-repeat='r in form.rubrics' idx='r.index') {{r.title}}  
                                                span.fa.fa-times.text-danger.zz-cursor-pointer(ng-click='removeRubric(r.title)')
                                .form-group
                                    label.col-xs-3.control-label(for="infos") Основные характеристики
                                    .col-xs-9
                                        .row
                                            .col-xs-5
                                                input.form-control(type="text", placeholder="Введите название характеристики" ng-model='key' maxlength='24')
                                            .col-xs-6
                                                input.form-control(type="text", placeholder="Введите значение характеристики" ng-model='value' maxlength='24')
                                            .col-xs-1
                                                button.btn.btn-sm.btn-info.btn-block.glyphicon.glyphicon-edit(ng-click='addInfo()' ng-if="!isInfoExists()") 
                                            div(ng-repeat='i in form.infos' ng-cloak)
                                                .col-xs-5
                                                    input.form-control.disabled(type="text", ng-model="i.key")
                                                .col-xs-6
                                                    input.form-control.disabled(type="text", ng-model="i.value")
                                                .col-xs-1
                                                    button.btn.btn-danger.btn-sm.btn-block.glyphicon.glyphicon-remove(ng-click='removeInfo(i)') 
                                            .col-xs-12
                                                i.help-block например: Габаритные размеры - 100х100х200 мм
                                .form-group
                                    label.col-xs-3.control-label(for="idescription") Важное описание
                                        b.text-danger * 
                                    .col-xs-9
                                        textarea.form-control(type="text" name="idescription" placeholder="Ведите важное описание не более 1000 символов", ng-model="form.idescription" maxlength="1024")
                                        i.help-block например: Продукт первой необходимости
                                .form-group
                                    label.col-xs-3.control-label(for="description") Описание
                                    .col-xs-9
                                        textarea.form-control(type="text" name="description" placeholder="Ведите описание не более 2000 символов", ng-model="form.description"  maxlength="2048")
                    span.pull-right
                        button.btn.btn-default(ng-click='edit()') Изменить
                        |  
                        button.btn.btn-danger(ng-click='cancel()') Отменить

block footer
    include ../../../sfooter

block script
    script(type="text/javascript").
        (function(){
             var zzRubricator = (function() {
                 function getIndex(index){
                    var result = [0]
                        , val = null;
                    if(zz.undef(index) || zz.undef(index.length) || index.length < 2) return result;

                    val = parseInt(index.substr(0,2), 10);
                    if(zz.undef(val) || isNaN(val)) return result;
                    result.push(val);

                    if(index.length > 3) {
                        val = parseInt(index.substr(2,2), 10);
                        if(!zz.undef(val) || !isNaN(val)) result.push(val);
                    }
                    if(index.length > 5){
                        val = parseInt(index.substr(4,2), 10);
                        if(!zz.undef(val) && !isNaN(val)) result.push(val);
                    } 
                    return result;

                }   
                function getData(id) {
                    var result = {}
                         , index = getIndex(id);
                    if(zz.undef(index) || index.length < 2) return rub_data;

                    result = rub_data.items[index[1]];
                    if(index.length > 2 && result.items) result = result.items[index[2]];
                    if(index.length > 3 && result.items) result = result.items[index[3]];
                    return result;
                  }
                function createNav(id) {
                    var index = getIndex(id)
                        , beg = '<ol class="zz-x ol breadcrumb navbar-default">'
                        , end = '</ol>'
                        , result = null;

                    if(zz.undef(index) || index.length < 2) return beg + "<li class='active'>Главная</li>" + end;

                    beg += "<li><a class='zz-cursor-pointer' onclick='onUpdateRubrics(null)'>Главная</a></li>";
                    result = rub_data.items[index[1]];

                    if(index.length === 2) return beg + "<li class='active'>" +  result.title + "</li>" + end;
                    else beg += "<li><a class='zz-cursor-pointer' onclick='onUpdateRubrics(\"" + id.substr(0,2) + "\")'>" +  result.title + "</a></li>";

                    if(index.length === 3) return beg + "<li class='active'>" + result.items[index[2]].title + "</a></li>" + end;
                    else beg += "<li><a class='zz-cursor-pointer' onclick='onUpdateRubrics(\"" + id.substr(0,4) + "\")'>" +  result.items[index[2]].title + "</a></li>";

                    if(index.length === 4) return beg + "<li class='active'>" + result.items[index[3]].title + "</a></li>" + end;
                }
                function createId(old, nw) {
                    nw =  nw < 10 ? "0" + nw : "" + nw; 
                    return zz.undef(old)? nw: old + nw;
                }
                function create(index)  {
                    var data = getData(index);
                    if(zz.undef(data) || !data.items) return;

                    var h = createNav(index) + "<table class=''><tbody><tr>"
                        , x = 0;

                    for(var i in data.items) {
                        var item = data.items[i];
                        ++x;
                        if(x === 4) {
                            h +="</tr><tr>"; x = 1
                        }
                        if(zz.undef(item.items)) h += "<td class='zz-td zz-x'> <a class='zz-cursor-pointer' onclick='onAddRubric(\"" +  createId(index, item.index) +  "\")'>" + item.title + "</a></td>";
                        else h += "<td class='zz-td zz-x'> <a class='zz-cursor-pointer' onclick='onUpdateRubrics(\"" +  createId(index, item.index) +  "\")'>" + item.title + "</a></td>";
                        h += "<td class='zz-abyss'></td>";
                    }
                    return h + "</tr></tbody></table>";
                }
                function addRubric(path, title) {
                    $('#zz-rubricator').popover('hide');
                    $("body").scope().$root.$broadcast('sendAddRubric', {title: title, index: path.substr(path.length -2, 2), path: path});
                }
                function findIdByTitle(title) {
                    function find(items, title, index) {
                        var i, x;
                        index = index || '';
                        for (i in items){
                            if(items[i].items) {
                                x = createId(index, items[i].index);
                                x = find(items[i].items,title,x);
                                if(x) return x;
                            }
                            else if(items[i].title === title) return createId(index, items[i].index);
                        }
                    }
                    return find(rub_data.items, title);
                }
                 return {
                    getData:        getData
                    , create:       create
                    , addRubric:    addRubric
                    , findIdByTitle: findIdByTitle
                 }
             })();
        
            window.rub_data = null;
            window.onAddRubric = function(path) {
                zzRubricator.addRubric(path, zzRubricator.getData(path).title);
            }
            window.onUpdateRubrics = function(index) {
                var is = index !== undefined;
                $("#zz-rubricator").attr({"data-content": zzRubricator.create(index)});
                if(is) $('#zz-rubricator').popover('show');
            }

           $("#zz-rubricator").popover({
                placement:   'top'
                , html:      true
                , animation: true
            }); 
            var app = angular.module('zz', ['zz.dir.alert']);
            app.directive('fileModel', ['$parse', function ($parse) {
                return {
                    restrict: 'A',
                    link: function(scope, element, attrs) {
                        var model = $parse(attrs.fileModel)
                            , modelSetter = model.assign;   
                        element.bind('change', function(){
                            scope.$apply(function(){
                                modelSetter(scope, element[0].files[0]);
                            });
                        });
                    }
                };
            }]);
            app.service('ImageService', function($rootScope, $http) {
                this.upload = function(file) {
                    if(zz.undef(file)) return;

                    var fd = new FormData();
                    fd.append('avatar', file);
                    fd.append('_csrf', (function(c) { return c;})('#{_csrf}'));

                    $http.post("/api/v1/product/upload_image", fd, {
                        transformRequest: angular.identity,
                        headers: {'Content-Type': undefined}
                    }).success(function(data){
                        $rootScope.$broadcast('sendImage', data);
                    }).error(function(data){
                        if(data.errors) $rootScope.$broadcast('sendErrors', data.errors); 
                    });
                }
            }); 
            app.service('FunctionService', function($rootScope, $http) {
                this.extractArrayTitles = function(data) {
                    var i, res =[];
                    if(!zz.isArray(data)) return [];

                    for(i = 0; i !== data.length; ++i) 
                        res.push(data[i].title);

                    return res;
                };
            }); 
            app.controller("TableController", function($scope, $http, ImageService, FunctionService) {
                $scope.errors       = [];
                $scope.key          = null;
                $scope.value        = null;
                $scope.file         = null;
                $scope.id           = zz.location().id;
                $scope.form         = {};
                $scope.form.rubrics = [];
                $scope.form.infos   = [];
                $scope.form.images  = [];

                $scope.new_form          = {};
                $scope.new_form.rubrics  = [];
                $scope.new_form.images   = [];
                $scope.new_form.wwws     = [];
                $scope.new_form.emails   = [];
                $scope.new_form.mode     = {};

                $scope.$on("sendImage", function(event, args) {
                    args.title = args.filename;
                    args.path  = args.fd;
                    args.action = 'add';
                    $scope.form.images.push(args);
                    $scope.new_form.images.push(args);
                });

                $scope.$on("sendErrors", function(event, args) {
                    $scope.errors = args;
                });
                $scope.$on("sendAddRubric", function(event, args) {
                    if($scope.isRubricExists(args)) {
                        $scope.errors = ['Рубрика "' + args.title + '" уже существует!'];
                    } else {
                        $scope.errors = [];

                        if(!$scope.isExistsObject($scope.new_form.rubrics, args.title)) {
                            args.action = 'add';
                            $scope.new_form.rubrics.push(args);
                        } else $scope.removeObject($scope.new_form.rubrics, args.title);
                        $scope.form.rubrics.push(args);
                    }
                    $scope.$apply();
                });
                $scope.isExistsObject = function(arr, val) {
                    var result =  $.grep($(arr), function(value, n) {
                        return value.title === val && !zz.undef(value.action);
                    });
                    return result.length !== 0;
                }
                $scope.removeObject = function(arr, val) {
                    $.each($(arr), function(key, value) {
                        if(value.title === val && !zz.undef(value.action)) arr.splice(arr, 1);
                    });
                }
                $scope.remove = function(arr, arr_new, val) {
                    var v;

                    $.each($(arr), function(key, value) {
                        if(value.title === val) {
                            v = value;
                            arr.splice(key, 1);
                        }
                    });

                    $.each($(arr_new), function(key, value) {
                        if(value.title === val) {  
                            if(zz.undef(value.action) || value.action === 'delete') value.action = 'delete';
                            else arr_new.splice(key, 1);
                            v = null;
                        }
                    });
                    if(!zz.undef(v)) {
                        v.action = 'delete';
                        arr_new.push(v);   
                    }
                }
                $scope.removeImage = function(image){
                    var arr = $scope.form.images
                        , arr_new = $scope.new_form.images
                        , v;

                    $.each($(arr), function(key, value) {
                        if(value.path === image) {
                            v = value;
                            arr.splice(key, 1);
                        }
                    });

                    $.each($(arr_new), function(key, value) {
                        if(value.path === image) {  
                            if(!zz.undef(value.cid)) value.action = 'delete';
                            else arr_new.splice(key, 1);
                            v = null;
                        }
                    });
                    if(!zz.undef(v)) {
                        v.action = 'delete';
                        arr_new.push(v);   
                    }
                }
                $scope.uploadImage = function() {
                    ImageService.upload($scope.file);
                }
                $scope.isRubricExists = function(args) {
                    var path = args.path;
                    if(zz.undef(path)) return true;

                    for(var i in $scope.form.rubrics) 
                        if($scope.form.rubrics[i].path === path) return true;
                    return false;
                }
                $scope.removeRubric = function(rubric) {
                    $scope.remove($scope.form.rubrics, $scope.new_form.rubrics, rubric);
                };
                $scope.addInfo = function() {
                    var key = $scope.key
                        , value = $scope.value;

                    if($scope.isInfoExists()) return;
                    $scope.form.infos.push({ key:key, value: value });
                    $scope.key = null;
                    $scope.value = null;
                }
                $scope.removeInfo = function(data){
                    var x = [];
                    for(var i in $scope.form.infos) 
                        if($scope.form.infos[i].key !== data.key) x.push($scope.form.infos[i]);
                    $scope.form.infos = x;
                }
                $scope.isInfoExists = function() {
                    var key = $scope.key
                        ,value = $scope.value; 
                    if(zz.undef(key) || key.length < 2) return true;
                    if(zz.undef(value) || value.length < 2) return true;

                    for(var i in $scope.form.infos) 
                        if($scope.form.infos[i].key === key) return true;
                    return false;
                }

                !(function() {
                    $http.get("/api/v1/rubricator/product?a=all")
                        .success(function(data) {
                            window.rub_data = data;
                            onUpdateRubrics();

                            function rec(id) {
                                var arr = [], i, title, items;
                                for (i in id){
                                    title = id[i].title;
                                    items = id[i].items;

                                    if(!zz.undef(items)) arr =  arr.concat(rec(items));
                                    else if(!zz.undef(title)) arr.push(title);
                                }
                                return arr;
                            }
                            $('#zz-rubricator-typeahead').typeahead({
                                source: rec(data.items)
                                , updater: function(title){
                                    var zz = zzRubricator;
                                    zz.addRubric(zz.findIdByTitle(title), title);
                                }
                            });
                        }).error(function(data){});

                    $http.get("/api/v1/product/one?id=" + $scope.id)
                        .success(function(data) {
                            if(zz.undef(data)) return;
                            if(!zz.undef(data.brand)) data.brand = data.brand.title;
                            if(!zz.undef(data.country)) data.country = data.country.title;
                            $scope.form = data;
                        }).error(function(data){});


                    $http.get("/api/v1/product/brands") .success(function(data) {
                            $('#zz-brands').typeahead({ source: FunctionService.extractArrayTitles(data) });
                    });

                    $http.get("/api/v1/product/countries") .success(function(data) {
                            $('#zz-countries').typeahead({ source: FunctionService.extractArrayTitles(data) });
                    });
                })();
                $scope.checkArrays = function(arr, max, e) {
                    if(zz.undef(arr) || zz.undef(max)) return false;
                    for(var i =0; i !== arr.length; ++i){
                        if(arr[i].key.length > max || arr[i].value.length > max) {
                            $scope.errors.push(e);
                            return false;
                        } 
                    }
                    return true;
                }
                $scope.cancel = function() {
                    window.location.href = '/admin/product/index.html';
                }
                $scope.edit = function() {
                    var data = zz.deep($scope.new_form)
                        , cx = 0;

                    data.title        = $scope.form.title;
                    data.brand        = $scope.form.brand;
                    data.country      = $scope.form.country;
                    data.unit         = $scope.form.unit;
                    data.price        = $scope.form.price;
                    data.infos        = $scope.form.infos;
                    data.idescription = $scope.form.idescription;
                    data.description  = $scope.form.description;
                    data.id           = $scope.id;
                    data.cid          = $scope.form.cid;
                    data._csrf = (function(c) { return c;})('#{_csrf}')

                    $scope.errors = [];

                    if(zz.undef(data.cid)) {
                        $scope.errors = ['Невозможно изменить продукт. Неизвестен cid продукта'];
                        ++cx;
                    }
                    if(zz.undef(data.title)) {
                        $scope.errors.push('Введите название продукта');
                        ++cx;
                    }
                    else if(data.title.length > 64) {
                        $scope.errors.push('Название продукта не может превышать длину в 64 символа');
                        ++cx;
                    }
                    if(zz.undef(data.brand)) {
                        $scope.errors.push('Введите название бренда продукта');
                        ++cx;
                    }
                    else if(data.brand.length > 64) {
                        $scope.errors.push('Название бренда продукта не может превышать длину в 64 символа');
                        ++cx;
                    }
                    if(zz.undef(data.country)) {
                        $scope.errors.push('Введите название страны производителя продукта');
                        ++cx;
                    }
                    else if(data.country.length > 64) {
                        $scope.errors.push('Название страны производителя продукта не может превышать длину в 64 символа');
                        ++cx;
                    }
                    if(zz.undef(data.unit)) {
                        $scope.errors.push('Введите единицу измерения продукта');
                        ++cx;
                    }
                    else if(data.unit.length > 16) {
                        $scope.errors.push('Единица измерения продукта не может превышать длину в 16 символа');
                        ++cx;
                    }
                    if(zz.undef(data.price)) {
                        $scope.errors.push('Введите стоимость продукта');
                        ++cx;
                    }
                    else if(data.price.length > 16) {
                        $scope.errors.push('Стоимость продукта не может превышать длину в 16 символа');
                        ++cx;
                    }
                    if(zz.undef(data.idescription)) {
                        $scope.errors.push('Введите важное описание продукта');
                        ++cx;
                    }
                    else if(data.idescription.length > 1024) {
                        $scope.errors.push('Важное описание не может превышать длину в 1024 символа');
                        ++cx;
                    }
                    if(!zz.undef(data.description) && data.description.length > 2048) {
                        $scope.errors.push('Описание не может превышать длину в 2048 символа');
                        ++cx;
                    }
                    if(!$scope.checkArrays(data.infos, 24, 'Один из значений Основных характеристик неверно')) ++cx;

                    if(cx) return;

                    $http.post("/api/v1/product/update", data)
                        .success(function(data) {
                            window.location.href = '/admin/product/index.html';
                        }).error(function(data){
                            if(data.errors) $scope.errors = data.errors;
                        });
                 }
            });
         })();  
