// 
// \file      product/user/index.jade 
// \brief     Product index view
// \author    S.Panin <dix75@mail.ru>
// \copyright S.Panin, 2014 - 2015 
// \version   v.2.1
// \created   December (the) 30(th), 2014, 12:32 MSK
// \updated   February (the) 01(th), 2015, 19:01 MSK
// \TODO      
// 
extends ../../../layout

block header
    include ../../../header

block modal
    modals(ng-controller="ModalController")
        .modal.fade#modal-remove
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type="button" data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close
                        h4.modal-title Удаление продукта
                    .modal-body
                        p Вы действительно хотите удалить продукт "{{form.title}}"?
                    .modal-footer
                        button.btn.btn-default(type="button" ng-click="form.executeFunction(form)" data-dismiss="modal") Да
                        button.btn.btn-primary(type="button" data-dismiss="modal") Нет

block breadcrumb-navigation
    li: a(href="/") Главная 
    li.active Продукты

block main
    .container.well(ng-controller="TableController")
        zz-error
        .row
            .col-xs-12
                .row
                    .col-xs-6
                        .panel.panel-default
                            .panel-body
                                legend: h2 Компании
                                .form.form-horizontal
                                    .form-group
                                        label.col-xs-4.control-label(for="company") Выберите компанию: 
                                        .col-xs-8
                                            ol.nya-bs-select.form-control(ng-model="company" title="Выберите компанию" ng-change="selectAction()" ng-cloak)
                                              li(nya-bs-option="c in companies")
                                                a {{c.title}}
                                                    span.glyphicon.glyphicon-ok.check-mark  
                    .col-xs-6
                        .panel.panel-default
                            .panel-body
                                legend: h2 Доступные продукты
                                .form.form-horizontal
                                    .form-group
                                        label.col-xs-4.control-label(for="product") Выберите продукт: 
                                        .col-xs-8
                                            .input-group
                                                input.form-control#zz-clone(type='text' data-provide='typeahead' disabled=false placeholder="Введите название продукта" autocomplete="off" ng-model="typehead")
                                                span.input-group-btn
                                                    a.btn.btn-default(ng-class="isNameInputed(typehead)" ng-click='cloneProduct(typehead)' title="Клонировать продукт")
                                                        i.fa.fa-plus
        .row
            .col-xs-12
                .panel.panel-default
                    .panel-body
                        legend: h2 Продукты
                        table.well.table.table-striped.table-hover
                            thead
                                tr
                                    th №
                                    th Наличие 
                                    th Картинки 
                                    th Название
                                    th Ед.изм.
                                    th Цена
                                    th Описание
                                    th
                            tbody
                                tr(ng-repeat="p in products" ng-cloak)
                                    td.zz-vertical-middle(idx="{{p.id}}") {{$index + 1}}
                                    td.zz-vertical-middle
                                        input.radio(type='checkbox' ng-checked="p.atom === 'enable'" ng-click="addAtom(p)")
                                    td.zz-vertical-middle
                                        span(ng-repeat="i in p.images" ng-if="$index < 3") 
                                            img(ng-src="/uploads/{{i.path}}"  width="40")
                                    td.zz-vertical-middle(zz-text-collapse="20") {{p.title}}
                                    td.zz-vertical-middle {{p.unit}}
                                    td.zz-vertical-middle {{p.price}}
                                    td.zz-vertical-middle(zz-text-collapse="65") {{p.idescription}}
                                    td.zz-vertical-middle.text-right  
                                        .btn-group.btn-group-xs
                                            button.btn.btn-info.btn-lg.glyphicon.glyphicon-edit(type="button" data-toggle="modal" ng-click="beforeEditProduct(p)" title="Изменить")
                                            button.btn.btn-danger.glyphicon.glyphicon-remove(type="button" data-toggle="modal" data-target="#modal-remove" ng-click="beforeDestroyProduct(p)" title="Удалить")
                        .row
                            .col-xs-12
                                .pull-right
                                    button.btn.btn-default(type="button" ng-click="addProduct()" ng-disabled="companies.length < 1") Добавить
                                    |   
                                    button.btn.btn-warning(type="button" ng-click="updateAtoms()" ng-disabled="!atoms.length") Сохранить
        .row
            nav.text-center
                ul.pagination
                    li(ng-repeat="pg in pages" class="{{pg.cls}}")
                        a(idx="{{pg.id}}" ng-click="onPageClick(pg)") {{pg.vs}}

block footer
    include ../../../sfooter

block script
    script(type="text/javascript").
        (function(){

            var app = angular.module('zz', ['nya.bootstrap.select', 'zz.dir.alert', 'zz.dir.text']);
            app.service('Service', function($rootScope, $http) {
                var lm_ = 50;

                function fetchAllCompanies() {
                    $http.get("/api/v1/company/index")
                        .success(function(data) {
                            $rootScope.$broadcast('sendCompanies', data); 
                        }).error(function(data){
                            if(data.errors) $rootScope.$broadcast('sendErrors', data.errors); 
                        });
                }
                function fetchAllProductsTitles() {
                    $http.get("/api/v1/product/titles")
                        .success(function(data) {
                            $rootScope.$broadcast('sendProductsTitles', data); 
                        }).error(function(data){
                            if(data.errors) $rootScope.$broadcast('sendErrors', data.errors); 
                        });
                }
                fetchProductsByCompanyID = function(cid, pg) {
                    pg = pg || 1;
                    $http.get("/api/v1/product/index?cid=" + cid + "&pg=" + pg + "&lm=" + lm_)
                        .success(function(data) {
                            $rootScope.$broadcast('sendProducts', data); 
                        }).error(function(data){
                            if(data.errors) $rootScope.$broadcast('sendErrors', data.errors); 
                        });
                }
                this.cloneProduct = function(pid, cid) {
                    if(zz.undef(pid) || zz.undef(cid)) return;
                    var data = {pid: pid, cid, cid};
                    data._csrf = (function(c) { return c;})('#{_csrf}')

                    $http.post("/api/v1/product/clone", data)
                    .success(function(data) {
                        fetchProductsByCompanyID(cid);
                    }).error(function(data){
                        if(data.errors) $rootScope.$broadcast('sendErrors', data.errors); 
                    });
                }
                this.fetchProducts = function(id, pg) {
                    fetchProductsByCompanyID(id, pg);
                }
                this.addFormData = function(form) {
                    $rootScope.$broadcast('sendForm', form);
                }
                this.destroy = function(data) {
                    if(zz.undef(data)) return;
                    data._csrf = (function(c) { return c;})('#{_csrf}')
                    $http.put("/api/v1/product/destroy", data)
                        .success(function(d) {
                            fetchProductsByCompanyID(data.cid);
                        }).error(function(data){
                            if(data.errors) $rootScope.$broadcast('sendErrors', data.errors); 
                        });
                }
                fetchAllCompanies();
                fetchAllProductsTitles();
            });

            app.controller("ModalController", function($scope, $http, Service) {
                $scope.form = {};

                $scope.$on("sendForm", function(event, args) {
                    $scope.form = args;
                });
            });
            app.controller("TableController", function($scope, $http, Service) {
                $scope.products = [];
                $scope.companies = [];
                $scope.company = null;
                $scope.pages = [];
                $scope.atoms = [];
                $scope.products_titles = [];
                $scope.typeahead = "";

                $scope.isNameInputed = function(title) {
                    return zz.undef(title) || title.length < 1 || zz.undef($scope.company) ? 'disabled' : "";
                }
                $scope.cloneProduct = function(title)  {
                    var products = $.grep($scope.products_titles, function(val, index) {
                        return title === val.title;
                    });
                    if(!zz.undef(products) && !zz.undef(products[0])) Service.cloneProduct(products[0].id, $scope.company.id);
                }
                $scope.addAtom = function(p) {
                    for(var i = 0; i != $scope.atoms.length; ++i) 
                        if($scope.atoms[i].id === p.id) {
                            $scope.atoms.splice(i,1);
                            break;
                        }
                    var atom = p.atom === 'enable' ? 'disable' : 'enable';
                    $scope.atoms.push({id: p.id, atom: atom});
                    p.atom = atom;
                };
                $scope.updateAtoms = function() {
                    var data = {atoms: $scope.atoms};
                    data._csrf = (function(c) { return c;})('#{_csrf}')

                    if(zz.undef($scope.atoms) || zz.undef($scope.atoms.length) || $scope.atoms.length < 1) return;

                    $http.put("/api/v1/product/atom", data)
                        .success(function(d) {
                            $scope.atoms = [];
                        }).error(function(data){
                            $scope.errors = data.errors ? data.errors : JSON.stringify(data);
                        });
                };
                $scope.selectAction = function() {
                    Service.fetchProducts($scope.company.id);
                };
                $scope.$on("sendErrors", function(event, args) {
                    $scope.errors = args;
                });
                $scope.$on("sendCompanies", function(event, args) {
                    if(zz.undef(args) || zz.undef(args.companies)) return;
                    $scope.companies = args.companies;
                    if($scope.companies[0]) {
                        $scope.company = $scope.companies[0];
                        $scope.selectAction();
                    }
                });
                $scope.$on("sendProductsTitles", function(event, args) {
                    if(zz.undef(args)) return;
                    $scope.products_titles = args;

                    $('#zz-clone').typeahead({
                        source: (function (data) {
                            if(zz.undef(data)) return [];

                            var i, res = []
                                , isExist =  function(title, res) {
                                    for(var i = 0; i !== res.length; ++i) 
                                        if(res[i] === title) return true;
                                    return false; 
                                }

                            for(var i = 0; i !== data.length; ++i) 
                                if(isExist(data[i].title, res) === false) res.push(data[i].title);

                            return res;
                        })(args)
                    })
                });

                $scope.$on("sendProducts", function(event, args) {
                    var png = new zz.Pagination(); 

                    if(zz.undef(args) || zz.undef(args.products) || zz.undef(args.pg)) return;

                    $scope.pages  = png.create(args.pg);
                    $scope.products = args.products;
                });
                $scope.onPageClick = function(pg) {
                    if(zz.undef(pg) || zz.undef(pg.pg)) return;
                    Service.fetchProducts($scope.company.id, pg.pg);
                }
                $scope.beforeDestroyProduct = function(product) {
                    product["executeFunction"] = Service.destroy;
                    product["cid"] = $scope.company.id;
                    Service.addFormData(product);
                };
                $scope.addProduct = function() {
                    window.location.href = '/admin/product/add.html?cid=' + $scope.company.id;
                };
                $scope.beforeEditProduct = function(product) {
                    window.location.href = '/admin/product/edit.html?id=' + product.id;
                };
            });
         })();  
